# Ejercicio 2

In [9]:
import pandas as pd

# Cargar el archivo .dta (el de 2004)
#file_path = '/Users/valentinasaravi/Documents/Ciencia de datos/Tutoriales/TPs/TP4/Hogar_t104.dta'
file_path = 'C:/Users/matug/OneDrive/Documentos/UdeSA/Ciencia de datos/TP4/Hogar_t104.dta'
data2004 = pd.read_stata(file_path)

# Mostrar las primeras filas del DataFrame
data2004.head()

,CODUSU,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,gdeccfr,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph
0,125051,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,355.0,Casa,...,01,,01,1.0,0.0,3.0,0.0,0.0,0.0,00000
1,125082,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,306.0,Casa,...,03,,02,2.0,0.0,98.0,0.0,0.0,0.0,10000
2,125181,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,541.0,Casa,...,09,,09,2.0,0.0,1.0,3.0,0.0,0.0,00000
3,125283,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,255.0,Casa,...,07,,07,1.0,2.0,3.0,4.0,0.0,0.0,10000
4,126192,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,218.0,Casa,...,08,,08,2.0,0.0,Otra persona que no vive en el hogar,0.0,0.0,0.0,10000

In [10]:
# Cargar el archivo .xlsx (año 2024)
#file_path_xlsx = '/Users/valentinasaravi/Documents/Ciencia de datos/Tutoriales/TPs/TP4/usu_hogar_T124.xlsx'
file_path_xlsx = 'C:/Users/matug/OneDrive/Documentos/UdeSA/Ciencia de datos/TP4/usu_hogar_T124.xlsx'
data2024 = pd.read_excel(file_path_xlsx)

# Mostrar las primeras filas del DataFrame
data2024.head()

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,REALIZADA,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,GDECCFR,PDECCFR,ADECCFR,PONDIH,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
0,TQRMNORPSHLOLMCDEFNFF00852337,2024,1,1,1,41,N,7,179,1,...,NaN,5.0,5,212,1,2,98,0,0,0
1,TQRMNOPRYHKOKTCDEFNFF00856789,2024,1,1,1,41,N,7,313,1,...,NaN,12.0,12,0,1,0,2,0,0,0
2,TQTMNORRSHKOKTCDEFNFF00856790,2024,1,1,1,41,N,7,286,1,...,NaN,8.0,9,401,2,0,1,0,0,0
3,TQRMNORRSHKOKTCDEFNFF00856791,2024,1,1,1,41,N,7,306,1,...,NaN,5.0,6,438,2,0,3,0,0,0
4,TQRMNOQTVHKLLLCDEFNFF00856792,2024,1,1,1,41,N,7,361,1,...,NaN,6.0,7,831,1,0,2,0,0,0

In [11]:
# Convertir los nombres de las columnas a minúsculas para data2004
data2004.columns = data2004.columns.str.lower()

# Convertir los nombres de las columnas a minúsculas para data2024
data2024.columns = data2024.columns.str.lower()

# Mostrar las primeras filas de los DataFrames para verificar los cambios
data2004.head(), data2024.head()

(     codusu  nro_hogar realizada    ano4       trimestre    region mas_500  \
 0  125051          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
 1  125082          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
 2  125181          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
 3  125283          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
 4  126192          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S

       aglomerado  pondera   iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
 0  Gran La Plata    355.0  Casa  ...      01              01    1.0    0.0
 1  Gran La Plata    306.0  Casa  ...      03              02    2.0    0.0
 2  Gran La Plata    541.0  Casa  ...      09              09    2.0    0.0
 3  Gran La Plata    255.0  Casa  ...      07              07    1.0    2.0
 4  Gran La Plata    218.0  Casa  ...      08              08    2.0    0.0

                                  vii2_1 vii2_2 vii2_3 vii2_4 idimph
 0                                   3.0    0.0    0.0    0.0  00000
 1                                  98.0    0.0    0.0    0.0  10000
 2                                   1.0    3.0    0.0    0.0  00000
 3                                   3.0    4.0    0.0    0.0  10000
 4  Otra persona que no vive en el hogar    0.0    0.0    0.0  10000

 [5 rows x 88 columns],
                           codusu  ano4  trimestre  nro_hogar  realizada  \
 0  TQRMNORPSHLOLMCDEFNFF00852337  2024          1          1          1
 1  TQRMNOPRYHKOKTCDEFNFF00856789  2024          1          1          1
 2  TQTMNORRSHKOKTCDEFNFF00856790  2024          1          1          1
 3  TQRMNORRSHKOKTCDEFNFF00856791  2024          1          1          1
 4  TQRMNOQTVHKLLLCDEFNFF00856792  2024          1          1          1

    region mas_500  aglomerado  pondera  iv1  ... gdeccfr  pdeccfr  adeccfr  \
 0      41       N           7      179    1  ...     NaN      5.0        5
 1      41       N           7      313    1  ...     NaN     12.0       12
 2      41       N           7      286    1  ...     NaN      8.0        9
 3      41       N           7      306    1  ...     NaN      5.0        6
 4      41       N           7      361    1  ...     NaN      6.0        7

   pondih  vii1_1  vii1_2  vii2_1  vii2_2 vii2_3  vii2_4
 0    212       1       2      98       0      0       0
 1      0       1       0       2       0      0       0
 2    401       2       0       1       0      0       0
 3    438       2       0       3       0      0       0
 4    831       1       0       2       0      0       0

 [5 rows x 88 columns])

In [12]:
# Unir ambos DataFrames en una sola base (uno debajo del otro)
df_combined = pd.concat([data2004, data2024], ignore_index=True)

# Mostrar el DataFrame combinado para verificar
df_combined

,codusu,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph,pondih
0,125051,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,355.0,Casa,...,,01,1.0,0.0,3.0,0.0,0.0,0.0,00000,NaN
1,125082,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,306.0,Casa,...,,02,2.0,0.0,98.0,0.0,0.0,0.0,10000,NaN
2,125181,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,541.0,Casa,...,,09,2.0,0.0,1.0,3.0,0.0,0.0,00000,NaN
3,125283,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,255.0,Casa,...,,07,1.0,2.0,3.0,4.0,0.0,0.0,10000,NaN
4,126192,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,218.0,Casa,...,,08,2.0,0.0,Otra persona que no vive en el hogar,0.0,0.0,0.0,10000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28915,TQRMNOPXXHLKKUCDEFNFF00852324,1.0,1,2024.0,1,41,N,7,336.0,2,...,12.0,12,96,0,2,3,0,0,NaN,0.0
28916,TQRMNOPQTHKMLMCDEHMHF00861771,1.0,1,2024.0,1,42,N,26,141.0,1,...,3.0,2,97,0,1,2,0,0,NaN,156.0
28917,TQRMNOSYXHMMLNCDEFNFF00798999,1.0,1,2024.0,1,41,N,7,305.0,1,...,1.0,1,2,0,1,3,4,0,NaN,353.0
28918,TQRMNOPTSHLOLQCDEFNFF00852331,1.0,1,2024.0,1,41,N,7,331.0,1,...,6.0,7,97,0,98,0,0,0,NaN,420.0
28919,TQRMNOVRSHKOKMCDEFOCD00861772,1.0,1,2024.0,1,41,N,8,231.0,1,...,3.0,5,2,0,98,0,0,0,NaN,288.0

In [53]:
# Filtrar los datos de df_combined para que solo queden los pertenecientes a Partidos del GBA y Ciudad de Buenos Aires
df_bsas = df_combined[df_combined['aglomerado'].isin([32, 33, 'Partidos del GBA','Ciudad de Buenos Aires'])]
#sabemos que eran 32 y 33 por el diccionario de amos años
# Mostrar las primeras filas del DataFrame filtrado para verificar
df_bsas

,codusu,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph,pondih
9666,125098,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,Departamento,...,,04,1.0,0.0,98.0,0.0,0.0,0.0,00000,NaN
9667,125397,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,Departamento,...,,00,1.0,0.0,98.0,0.0,0.0,0.0,00000,NaN
9668,125515,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,Departamento,...,,05,1.0,0.0,98.0,0.0,0.0,0.0,00010,NaN
9669,125558,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,Departamento,...,,06,2.0,0.0,3.0,4.0,0.0,0.0,00000,NaN
9670,125599,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1471.0,Casa,...,,02,2.0,0.0,1.0,0.0,0.0,0.0,00000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28799,TQRMNOPSSHKMROCDEIJAH00861731,1.0,1,2024.0,1,1,S,33,3772.0,1,...,NaN,10,1,0,96,0,0,0,NaN,5211.0
28800,TQRMNOPWVHJLSSCDEIJAH00794914,1.0,1,2024.0,1,1,S,33,1862.0,1,...,NaN,2,4,2,98,0,0,0,NaN,4520.0
28801,TQRMNOQQWHKMOQCDEIJAH00861732,1.0,1,2024.0,1,1,S,33,2639.0,1,...,NaN,12,2,0,98,0,0,0,NaN,0.0
28802,TQRMNOSXRHKMNMCDEIJAH00861733,1.0,1,2024.0,1,1,S,33,1497.0,2,...,NaN,10,1,0,98,0,0,0,NaN,2000.0
28803,TQRMNORRQHMORPCDEIJAH00802469,1.0,1,2024.0,1,1,S,33,3120.0,1,...,NaN,6,2,1,3,0,0,0,NaN,6154.0

In [14]:
#voy a combinar mi base de datos de la encuesta de hogar con la base de la encuesta individual de cada año (usada en el TP3)
# Cargar la base de datos CSV
#file_path_csv = '/Users/valentinasaravi/Documents/Ciencia de datos/Tutoriales/TPs/TP3/df_filtered.csv'
file_path_csv = 'C:/Users/matug/OneDrive/Documentos/UdeSA/Ciencia de datos/TP4/Bases de datos TP3/df_filtered.csv'
data_tp3 = pd.read_csv(file_path_csv)

# Realizar el merge utilizando las variables 'codusu' y 'nro_hogar'
df_combined_final = pd.merge(df_bsas, data_tp3, on=['codusu', 'nro_hogar'], how='inner')
df_combined_final
print("Dimensiones de df_combined_final:", df_combined_final.shape)
# Identificar columnas que terminan en _x y _y
columnas_x = [col for col in df_combined_final.columns if col.endswith('_x')]
columnas_y = [col for col in df_combined_final.columns if col.endswith('_y')]

# Mostrar las columnas encontradas
print("Columnas que terminan con '_x':")
print(columnas_x)

print("\nColumnas que terminan con '_y':")
print(columnas_y)

# Listas de columnas con sufijos _x y _y
columnas_x = ['ano4_x', 'trimestre_x', 'region_x', 'mas_500_x', 'aglomerado_x', 'pondera_x', 
              'itf_x', 'decifr_x', 'idecifr_x', 'rdecifr_x', 'gdecifr_x', 'pdecifr_x', 
              'adecifr_x', 'ipcf_x', 'deccfr_x', 'ideccfr_x', 'rdeccfr_x', 'gdeccfr_x', 
              'pdeccfr_x', 'adeccfr_x', 'pondih_x']

columnas_y = ['ano4_y', 'trimestre_y', 'region_y', 'mas_500_y', 'aglomerado_y', 'pondera_y', 
              'itf_y', 'decifr_y', 'idecifr_y', 'rdecifr_y', 'gdecifr_y', 'pdecifr_y', 
              'adecifr_y', 'ipcf_y', 'deccfr_y', 'ideccfr_y', 'rdeccfr_y', 'gdeccfr_y', 
              'pdeccfr_y', 'adeccfr_y', 'pondih_y']

# Comparar columnas _x y _y de forma explícita para asegurar que todas sean mencionadas
resultado_comparacion = {}

for col_x, col_y in zip(columnas_x, columnas_y):
    if col_x in df_combined_final.columns and col_y in df_combined_final.columns:
        # Comparar si los datos son iguales (considerando valores NaN como equivalentes)
        iguales = df_combined_final[col_x].fillna('MISSING').equals(df_combined_final[col_y].fillna('MISSING'))
        resultado_comparacion[f"{col_x} vs {col_y}"] = iguales
    else:
        # Si no existen, indicarlo explícitamente
        resultado_comparacion[f"{col_x} vs {col_y}"] = "Una o ambas columnas no existen"

# Mostrar los resultados de forma detallada
print("Resultados de la comparación explícita:")
for relacion, resultado in resultado_comparacion.items():
    print(f"{relacion}: {resultado}")

# Lista de pares de columnas específicas a comparar (las que dicen False)
pares_columnas = [
    ("trimestre_x", "trimestre_y"),
    ("region_x", "region_y"),
    ("aglomerado_x", "aglomerado_y"),
    ("decifr_x", "decifr_y"),
    ("rdecifr_x", "rdecifr_y"),
    ("gdecifr_x", "gdecifr_y"),
    ("adecifr_x", "adecifr_y"),
    ("ipcf_x", "ipcf_y"),
    ("deccfr_x", "deccfr_y"),
    ("rdeccfr_x", "rdeccfr_y"),
    ("gdeccfr_x", "gdeccfr_y"),
    ("adeccfr_x", "adeccfr_y")
]

C:\Users\matug\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3508: DtypeWarning: Columns (0,2,4,5,6,8,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,31,32,33,34,35,36,37,38,39,40,41,42,46,47,48,49,50,51,52,53,58,59,60,61,65,66,67,68,69,70,71,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,101,105,106,107,108,109,110,111,112,116,117,118,122,123,124,125,126,127,128,129,130,131,133,134,135,136,137,138,143,146,164,167,171,174,177,178,179) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Dimensiones de df_combined_final: (8192, 268)
Columnas que terminan con '_x':
['ano4_x', 'trimestre_x', 'region_x', 'mas_500_x', 'aglomerado_x', 'pondera_x', 'itf_x', 'decifr_x', 'idecifr_x', 'rdecifr_x', 'gdecifr_x', 'pdecifr_x', 'adecifr_x', 'ipcf_x', 'deccfr_x', 'ideccfr_x', 'rdeccfr_x', 'gdeccfr_x', 'pdeccfr_x', 'adeccfr_x', 'pondih_x']

Columnas que terminan con '_y':
['ano4_y', 'trimestre_y', 'region_y', 'mas_500_y', 'aglomerado_y', 'pondera_y', 'itf_y', 'decifr_y', 'idecifr_y', 'rdecifr_y', 'gdecifr_y', 'pdecifr_y', 'adecifr_y', 'ipcf_y', 'deccfr_y', 'ideccfr_y', 'rdeccfr_y', 'gdeccfr_y', 'pdeccfr_y', 'adeccfr_y', 'pondih_y']
Resultados de la comparación explícita:
ano4_x vs ano4_y: True
trimestre_x vs trimestre_y: False
region_x vs region_y: False
mas_500_x vs mas_500_y: True
aglomerado_x vs aglomerado_y: False
pondera_x vs pondera_y: True
itf_x vs itf_y: True
decifr_x vs decifr_y: False
idecifr_x vs idecifr_y: True
rdecifr_x vs rdecifr_y: False
gdecifr_x vs gdecifr_y: False
pdecifr_x vs pdecifr_y: True
adecifr_x vs adecifr_y: False
ipcf_x vs ipcf_y: False
deccfr_x vs deccfr_y: False
ideccfr_x vs ideccfr_y: True
rdeccfr_x vs rdeccfr_y: False
gdeccfr_x vs gdeccfr_y: False
pdeccfr_x vs pdeccfr_y: True
adeccfr_x vs adeccfr_y: False
pondih_x vs pondih_y: True

In [15]:
# Comparar las columnas "trimestre_x" y "trimestre_y" directamente
if "trimestre_x" in df_combined_final.columns and "trimestre_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["trimestre_x"].fillna('MISSING') != df_combined_final["trimestre_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'trimestre_x' y 'trimestre_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'trimestre_x' y 'trimestre_y':")
        print(diferencias[["trimestre_x", "trimestre_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'trimestre_x' y 'trimestre_y' no existen en el DataFrame.")
#vemos que en realidad no hay diferencia entre los datos de cada columna

Diferencias encontradas entre las columnas 'trimestre_x' y 'trimestre_y':
     trimestre_x trimestre_y
4531           1           1
4532           1           1
4533           1           1
4534           1           1
4535           1           1
4536           1           1
4537           1           1
4538           1           1
4539           1           1
4540           1           1

In [16]:
if "region_x" in df_combined_final.columns and "region_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["region_x"].fillna('MISSING') != df_combined_final["region_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'region_x' y 'region_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'region_x' y 'region_y':")
        print(diferencias[["region_x", "region_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'region_x' y 'region_y' no existen en el DataFrame.")
#vemos que en realidad no hay diferencia entre los datos de cada columna

Diferencias encontradas entre las columnas 'region_x' y 'region_y':
     region_x region_y
4531        1        1
4532        1        1
4533        1        1
4534        1        1
4535        1        1
4536        1        1
4537        1        1
4538        1        1
4539        1        1
4540        1        1

In [17]:
if "aglomerado_x" in df_combined_final.columns and "aglomerado_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["aglomerado_x"].fillna('MISSING') != df_combined_final["aglomerado_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'aglomerado_x' y 'aglomerado_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'aglomerado_x' y 'aglomerado_y':")
        print(diferencias[["aglomerado_x", "aglomerado_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'aglomerado_x' y 'aglomerado_y' no existen en el DataFrame.")
#vemos que en realidad no hay diferencia entre los datos de cada columna

Diferencias encontradas entre las columnas 'aglomerado_x' y 'aglomerado_y':
     aglomerado_x aglomerado_y
4531           33           33
4532           33           33
4533           33           33
4534           33           33
4535           33           33
4536           32           32
4537           32           32
4538           32           32
4539           32           32
4540           32           32

In [18]:
# Eliminar ceros a la izquierda en la columna 'decifr_x'
df_combined_final['decifr_x'] = df_combined_final['decifr_x'].str.lstrip('0')
if "decifr_x" in df_combined_final.columns and "decifr_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["decifr_x"].fillna('MISSING') != df_combined_final["decifr_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'decifr_x' y 'decifr_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'decifr_x' y 'decifr_y':")
        print(diferencias[["decifr_x", "decifr_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'decifr_x' y 'decifr_y' no existen en el DataFrame.")
#verificamos que no hay diferencias entre los datos de cada columna

Diferencias encontradas entre las columnas 'decifr_x' y 'decifr_y':
  decifr_x  decifr_y
0        2         2
1                  0
2        3         3
3        9         9
4        9         9
5        9         9
6        9         9
7        7         7
8        7         7
9        7         7

In [19]:
# Eliminar ceros a la izquierda en la columna 'rdecifr_x'
df_combined_final['rdecifr_x'] = df_combined_final['rdecifr_x'].str.lstrip('0')
if "rdecifr_x" in df_combined_final.columns and "rdecifr_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["rdecifr_x"].fillna('MISSING') != df_combined_final["rdecifr_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'rdecifr_x' y 'rdecifr_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'rdecifr_x' y 'rdecifr_y':")
        print(diferencias[["rdecifr_x", "rdecifr_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'rdecifr_x' y 'rdecifr_y' no existen en el DataFrame.")
#verificamos que no hay diferencias entre los datos de cada columna

Diferencias encontradas entre las columnas 'rdecifr_x' y 'rdecifr_y':
  rdecifr_x  rdecifr_y
0         2          2
1                    0
2         3          3
3         9          9
4         9          9
5         9          9
6         9          9
7         6          6
8         6          6
9         6          6

In [20]:
df_combined_final['gdecifr_y'] = df_combined_final['gdecifr_y'].astype(int)
df_combined_final['gdecifr_x'] = df_combined_final['gdecifr_x'].str.lstrip('0')

if "gdecifr_x" in df_combined_final.columns and "gdecifr_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["gdecifr_x"].fillna('MISSING') != df_combined_final["gdecifr_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'gdecifr_x' y 'gdecifr_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'gdecifr_x' y 'gdecifr_y':")
        print(diferencias[["gdecifr_x", "gdecifr_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'gdecifr_x' y 'gdecifr_y' no existen en el DataFrame.")
#verificamos que no hay diferencias entre los datos de cada columna

Diferencias encontradas entre las columnas 'gdecifr_x' y 'gdecifr_y':
  gdecifr_x  gdecifr_y
0         2          2
1                    0
2         3          3
3         9          9
4         9          9
5         9          9
6         9          9
7         7          7
8         7          7
9         7          7

In [21]:
df_combined_final['adecifr_x'] = df_combined_final['adecifr_x'].str.lstrip('0')
if "adecifr_x" in df_combined_final.columns and "adecifr_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["adecifr_x"].fillna('MISSING') != df_combined_final["adecifr_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'adecifr_x' y 'adecifr_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'adecifr_x' y 'adecifr_y':")
        print(diferencias[["adecifr_x", "adecifr_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'adecifr_x' y 'adecifr_y' no existen en el DataFrame.")
#verificamos que no hay diferencias entre los datos de cada columna

Diferencias encontradas entre las columnas 'adecifr_x' y 'adecifr_y':
  adecifr_x  adecifr_y
0         1          1
1                    0
2         2          2
3         8          8
4         8          8
5         8          8
6         8          8
7         5          5
8         5          5
9         5          5

In [22]:

if "ipcf_x" in df_combined_final.columns and "ipcf_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["ipcf_x"].fillna('MISSING') != df_combined_final["ipcf_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'ipcf_x' y 'ipcf_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'ipcf_x' y 'ipcf_y':")
        print(diferencias[["ipcf_x", "ipcf_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'ipcf_x' y 'ipcf_y' no existen en el DataFrame.")
#verificamos que no hay diferencias entre los datos de cada columna

Diferencias encontradas entre las columnas 'ipcf_x' y 'ipcf_y':
         ipcf_x      ipcf_y
194  233.333333  233.333333
195  233.333333  233.333333
196  233.333333  233.333333
198  247.333333  247.333333
199  247.333333  247.333333
200  247.333333  247.333333
201  247.333333  247.333333
202  247.333333  247.333333
203  247.333333  247.333333
371  183.333333  183.333333

In [23]:
df_combined_final['deccfr_x'] = df_combined_final['deccfr_x'].str.lstrip('0')
if "deccfr_x" in df_combined_final.columns and "deccfr_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["deccfr_x"].fillna('MISSING') != df_combined_final["deccfr_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'deccfr_x' y 'deccfr_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'deccfr_x' y 'deccfr_y':")
        print(diferencias[["deccfr_x", "deccfr_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'deccfr_x' y 'deccfr_y' no existen en el DataFrame.")
#verificamos que no hay diferencias entre los datos de cada columna

Diferencias encontradas entre las columnas 'deccfr_x' y 'deccfr_y':
  deccfr_x  deccfr_y
0        7         7
1                  0
2        7         7
3        8         8
4        8         8
5        8         8
6        8         8
7        4         4
8        4         4
9        4         4

In [24]:
df_combined_final['rdeccfr_x'] = df_combined_final['rdeccfr_x'].str.lstrip('0')
if "rdeccfr_x" in df_combined_final.columns and "rdeccfr_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["rdeccfr_x"].fillna('MISSING') != df_combined_final["rdeccfr_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'rdeccfr_x' y 'rdeccfr_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'rdeccfr_x' y 'rdeccfr_y':")
        print(diferencias[["rdeccfr_x", "rdeccfr_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'rdeccfr_x' y 'rdeccfr_y' no existen en el DataFrame.")
#verificamos que no hay diferencias entre los datos de cada columna

Diferencias encontradas entre las columnas 'rdeccfr_x' y 'rdeccfr_y':
  rdeccfr_x  rdeccfr_y
0         6          6
1                    0
2         7          7
3         8          8
4         8          8
5         8          8
6         8          8
7         4          4
8         4          4
9         4          4

In [25]:
df_combined_final['gdeccfr_y'] = df_combined_final['gdeccfr_y'].astype(int)
df_combined_final['gdeccfr_x'] = df_combined_final['gdeccfr_x'].str.lstrip('0')
if "gdeccfr_x" in df_combined_final.columns and "gdeccfr_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["gdeccfr_x"].fillna('MISSING') != df_combined_final["gdeccfr_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'gdeccfr_x' y 'gdeccfr_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'gdeccfr_x' y 'gdeccfr_y':")
        print(diferencias[["gdeccfr_x", "gdeccfr_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'gdeccfr_x' y 'gdeccfr_y' no existen en el DataFrame.")

Diferencias encontradas entre las columnas 'gdeccfr_x' y 'gdeccfr_y':
  gdeccfr_x  gdeccfr_y
0         6          6
1                    0
2         7          7
3         8          8
4         8          8
5         8          8
6         8          8
7         4          4
8         4          4
9         4          4

In [26]:
df_combined_final['adeccfr_x'] = df_combined_final['adeccfr_x'].str.lstrip('0')

if "adeccfr_x" in df_combined_final.columns and "adeccfr_y" in df_combined_final.columns:
    # Filtrar filas con diferencias
    diferencias = df_combined_final[df_combined_final["adeccfr_x"].fillna('MISSING') != df_combined_final["adeccfr_y"].fillna('MISSING')]
    if diferencias.empty:
        print("No hay diferencias entre las columnas 'adeccfr_x' y 'adeccfr_y'.")
    else:
        print("Diferencias encontradas entre las columnas 'adeccfr_x' y 'adeccfr_y':")
        print(diferencias[["adeccfr_x", "adeccfr_y"]].head(10))  # Mostrar las primeras 10 diferencias
else:
    print("Una o ambas columnas 'adeccfr_x' y 'adeccfr_y' no existen en el DataFrame.")

Diferencias encontradas entre las columnas 'adeccfr_x' y 'adeccfr_y':
  adeccfr_x  adeccfr_y
0         4          4
1                    0
2         5          5
3         6          6
4         6          6
5         6          6
6         6          6
7         2          2
8         2          2
9         2          2

vamos a hacer lo mismo para las columnas que nos dieron True, con el fin de asegurarnos que los datos esten iguales en termines de decimales y 0 adelante

In [27]:
df_combined_final['ano4_x'] = df_combined_final['ano4_x'].astype(int)
df_combined_final['ano4_y'] = df_combined_final['ano4_y'].astype(int)
if "ano4_x" in df_combined_final.columns and "ano4_y" in df_combined_final.columns:
    print("Valores de las columnas 'ano4_x' y 'ano4_y':")
    print(df_combined_final[["ano4_x", "ano4_y"]].head(10))

if "mas_500_x" in df_combined_final.columns and "mas_500_y" in df_combined_final.columns:
    print("Valores de las columnas 'mas_500_x' y 'mas_500_y':")
    print(df_combined_final[["mas_500_x", "mas_500_y"]].head(10))

df_combined_final['pondera_x'] = df_combined_final['pondera_x'].astype(int)
df_combined_final['pondera_y'] = df_combined_final['pondera_y'].astype(int)
if "pondera_x" in df_combined_final.columns and "pondera_y" in df_combined_final.columns:
    print("Valores de las columnas 'pondera_x' y 'pondera_y':")
    print(df_combined_final[["pondera_x", "pondera_y"]].head(10))

df_combined_final['itf_x'] = df_combined_final['itf_x'].astype(int)
df_combined_final['itf_y'] = df_combined_final['itf_y'].astype(int)
if "itf_x" in df_combined_final.columns and "itf_y" in df_combined_final.columns:
    print("Valores de las columnas 'itf_x' y 'itf_y':")
    print(df_combined_final[["itf_x", "itf_y"]].head(10))

Valores de las columnas 'ano4_x' y 'ano4_y':
   ano4_x  ano4_y
0    2004    2004
1    2004    2004
2    2004    2004
3    2004    2004
4    2004    2004
5    2004    2004
6    2004    2004
7    2004    2004
8    2004    2004
9    2004    2004
Valores de las columnas 'mas_500_x' y 'mas_500_y':
  mas_500_x mas_500_y
0         S         S
1         S         S
2         S         S
3         S         S
4         S         S
5         S         S
6         S         S
7         S         S
8         S         S
9         S         S
Valores de las columnas 'pondera_x' y 'pondera_y':
   pondera_x  pondera_y
0       1299       1299
1       2018       2018
2       1486       1486
3       1674       1674
4       1674       1674
5       1674       1674
6       1674       1674
7       1471       1471
8       1471       1471
9       1471       1471
Valores de las columnas 'itf_x' y 'itf_y':
   itf_x  itf_y
0    368    368
1      0      0
2    440    440
3   2130   2130
4   2130   2130
5   2130   2130
6   2130   2130
7   1040   1040
8   1040   1040
9   1040   1040

In [28]:
if "idecifr_x" in df_combined_final.columns and "idecifr_y" in df_combined_final.columns:
    print("Valores de las columnas 'idecifr_x' y 'idecifr_y':")
    print(df_combined_final[["idecifr_x", "idecifr_y"]])
# Verificar si hay valores que no sean NaN ni vacíos
    if df_combined_final[["idecifr_x", "idecifr_y"]].notna().any(axis=None):
        print("Hay valores que no son NaN ni vacíos en las columnas 'idecifr_x' y 'idecifr_y'.")
    else:
        print("No hay valores que no sean NaN ni vacíos en las columnas 'idecifr_x' y 'idecifr_y'.")

   # Mostrar valores que no sean NaN ni vacíos
    valores_no_nulos = df_combined_final[["idecifr_x", "idecifr_y"]].dropna()
    if not valores_no_nulos.empty:
        print("Valores que no son NaN ni vacíos en las columnas 'idecifr_x' y 'idecifr_y':")
        print(valores_no_nulos)
    else:
        print("No hay valores que no sean NaN ni vacíos en las columnas 'idecifr_x' y 'idecifr_y'.")
#no se pudieron encontrar valores que no sean NaN ni vacíos en las columnas 'idecifr_x' y 'idecifr_y', por lo tnato, eliminaremos estas columnas

Valores de las columnas 'idecifr_x' y 'idecifr_y':
     idecifr_x idecifr_y
0
1
2
3
4
...        ...       ...
8187       NaN       NaN
8188       NaN       NaN
8189       NaN       NaN
8190       NaN       NaN
8191       NaN       NaN

[8192 rows x 2 columns]
Hay valores que no son NaN ni vacíos en las columnas 'idecifr_x' y 'idecifr_y'.
Valores que no son NaN ni vacíos en las columnas 'idecifr_x' y 'idecifr_y':
     idecifr_x idecifr_y
0
1
2
3
4
...        ...       ...
1136
1137
1138
1139
1140

[1141 rows x 2 columns]

In [29]:
if "pdecifr_x" in df_combined_final.columns and "pdecifr_y" in df_combined_final.columns:
    print("Valores de las columnas 'pdecifr_x' y 'pdecifr_y':")
    print(df_combined_final[["pdecifr_x", "pdecifr_y"]].head(10))
# Verificar si hay valores que no sean NaN ni vacíos
    if df_combined_final[["pdecifr_x", "pdecifr_y"]].notna().any(axis=None):
        print("Hay valores que no son NaN ni vacíos en las columnas 'pdecifr_x' y 'pdecifr_y'.")
    else:
        print("No hay valores que no sean NaN ni vacíos en las columnas 'pdecifr_x' y 'pdecifr_y'.")
    # Mostrar valores que no sean NaN ni vacíos
    valores_no_nulos = df_combined_final[["pdecifr_x", "pdecifr_y"]].dropna()
    if not valores_no_nulos.empty:
        print("Valores que no son NaN ni vacíos en las columnas 'pdecifr_x' y 'pdecifr_y':")
        print(valores_no_nulos)
    else:
        print("No hay valores que no sean NaN ni vacíos en las columnas 'pdecifr_x' y 'pdecifr_y'.")
#no se pudieron encontrar valores que no sean NaN ni vacíos en las columnas, por lo tnato, eliminaremos estas columnas

Valores de las columnas 'pdecifr_x' y 'pdecifr_y':
  pdecifr_x pdecifr_y
0
1
2
3
4
5
6
7
8
9
Hay valores que no son NaN ni vacíos en las columnas 'pdecifr_x' y 'pdecifr_y'.
Valores que no son NaN ni vacíos en las columnas 'pdecifr_x' y 'pdecifr_y':
     pdecifr_x pdecifr_y
0
1
2
3
4
...        ...       ...
1136
1137
1138
1139
1140

[1141 rows x 2 columns]

In [30]:
if "ideccfr_x" in df_combined_final.columns and "ideccfr_y" in df_combined_final.columns:
    print("Valores de las columnas 'ideccfr_x' y 'ideccfr_y':")
    print(df_combined_final[["ideccfr_x", "ideccfr_y"]])

# Verificar si hay valores que no sean NaN ni vacíos
    if df_combined_final[["ideccfr_x", "ideccfr_y"]].notna().any(axis=None):
        print("Hay valores que no son NaN ni vacíos en las columnas 'ideccfr_x' y 'ideccfr_y'.")
    else:
        print("No hay valores que no sean NaN ni vacíos en las columnas 'ideccfr_x' y 'ideccfr_y'.")
    # Mostrar valores que no sean NaN ni vacíos
    valores_no_nulos = df_combined_final[["ideccfr_x", "ideccfr_y"]].dropna()
    if valores_no_nulos.empty:
        print("Valores que no son NaN ni vacíos en las columnas 'ideccfr_x' y 'ideccfr_y':")
        print(valores_no_nulos)
    else:
        print("No hay valores que no sean NaN ni vacíos en las columnas 'ideccfr_x' y 'ideccfr_y'.")
#no se pudieron encontrar valores que no sean NaN ni vacíos en las columnas, por lo tnato, eliminaremos estas columnas

Valores de las columnas 'ideccfr_x' y 'ideccfr_y':
     ideccfr_x ideccfr_y
0
1
2
3
4
...        ...       ...
8187       NaN       NaN
8188       NaN       NaN
8189       NaN       NaN
8190       NaN       NaN
8191       NaN       NaN

[8192 rows x 2 columns]
Hay valores que no son NaN ni vacíos en las columnas 'ideccfr_x' y 'ideccfr_y'.
No hay valores que no sean NaN ni vacíos en las columnas 'ideccfr_x' y 'ideccfr_y'.

In [31]:
if "pdeccfr_x" in df_combined_final.columns and "pdeccfr_y" in df_combined_final.columns:
    print("Valores de las columnas 'pdeccfr_x' y 'pdeccfr_y':")
    print(df_combined_final[["pdeccfr_x", "pdeccfr_y"]])

# Verificar si hay valores que no sean NaN ni vacíos
    if df_combined_final[["pdeccfr_x", "pdeccfr_y"]].notna().any(axis=None):
        print("Hay valores que no son NaN ni vacíos en las columnas 'pdeccfr_x' y 'pdeccfr_y'.")
    else:
        print("No hay valores que no sean NaN ni vacíos en las columnas 'pdeccfr_x' y 'pdeccfr_y'.")
    # Mostrar valores que no sean NaN ni vacíos
    valores_no_nulos = df_combined_final[["pdeccfr_x", "pdeccfr_y"]].dropna()
    if valores_no_nulos.empty:
        print("Valores que no son NaN ni vacíos en las columnas 'pdeccfr_x' y 'pdeccfr_y':")
        print(valores_no_nulos)
    else:
        print("No hay valores que no sean NaN ni vacíos en las columnas 'pdeccfr_x' y 'pdeccfr_y'.")
#no se pudieron encontrar valores que no sean NaN ni vacíos en las columnas, por lo tnato, eliminaremos estas columnas

Valores de las columnas 'pdeccfr_x' y 'pdeccfr_y':
     pdeccfr_x pdeccfr_y
0
1
2
3
4
...        ...       ...
8187       NaN       NaN
8188       NaN       NaN
8189       NaN       NaN
8190       NaN       NaN
8191       NaN       NaN

[8192 rows x 2 columns]
Hay valores que no son NaN ni vacíos en las columnas 'pdeccfr_x' y 'pdeccfr_y'.
No hay valores que no sean NaN ni vacíos en las columnas 'pdeccfr_x' y 'pdeccfr_y'.

In [32]:

if "pondih_x" in df_combined_final.columns and "pondih_y" in df_combined_final.columns:
    print("Valores de las columnas 'pondih_x' y 'pondih_y':")
    print(df_combined_final[["pondih_x", "pondih_y"]])

Valores de las columnas 'pondih_x' y 'pondih_y':
      pondih_x  pondih_y
0          NaN       NaN
1          NaN       NaN
2          NaN       NaN
3          NaN       NaN
4          NaN       NaN
...        ...       ...
8187       0.0       0.0
8188    2000.0    2000.0
8189    6154.0    6154.0
8190    6154.0    6154.0
8191    6154.0    6154.0

[8192 rows x 2 columns]

In [33]:

# Combinar columnas duplicadas con sufijos _x y _y 
for col in df_combined_final.columns:
    if col.endswith('_x') and col.replace('_x', '_y') in df_combined_final.columns:
        # Combinar los valores no nulos entre '_x' y '_y'
        df_combined_final[col.replace('_x', '')] = df_combined_final[col].combine_first(df_combined_final[col.replace('_x', '_y')])
        # Eliminar las columnas originales '_x' y '_y'
        df_combined_final.drop([col, col.replace('_x', '_y')], axis=1, inplace=True)


# Mostrar el DataFrame combinado para verificar
df_combined_final

,codusu,nro_hogar,realizada,iv1,iv1_esp,iv2,iv3,iv3_esp,iv4,iv5,...,pdecifr,adecifr,ipcf,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pondih
0,125098,1.0,Sí,Departamento,,3.0,Mosaico/baldosa/madera/cerámica/alfombra,,Membrana/cubierta asfáltica,Sí,...,,1,368.0,7,,6,6,,4,NaN
1,125397,1.0,Sí,Departamento,,2.0,Mosaico/baldosa/madera/cerámica/alfombra,,Membrana/cubierta asfáltica,Sí,...,,,0.0,,,,,,,NaN
2,125515,1.0,Sí,Departamento,,2.0,Mosaico/baldosa/madera/cerámica/alfombra,,Membrana/cubierta asfáltica,Sí,...,,2,440.0,7,,7,7,,5,NaN
3,125558,1.0,Sí,Departamento,,4.0,Mosaico/baldosa/madera/cerámica/alfombra,,Membrana/cubierta asfáltica,Sí,...,,8,532.5,8,,8,8,,6,NaN
4,125558,1.0,Sí,Departamento,,4.0,Mosaico/baldosa/madera/cerámica/alfombra,,Membrana/cubierta asfáltica,Sí,...,,8,532.5,8,,8,8,,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8187,TQRMNOQQWHKMOQCDEIJAH00861732,1.0,1,1,NaN,3,1,NaN,2,1,...,NaN,12,0.0,12,NaN,12,12,NaN,12,0.0
8188,TQRMNOSXRHKMNMCDEIJAH00861733,1.0,1,2,NaN,4,1,NaN,1,1,...,NaN,8,740000.0,10,NaN,10,10,NaN,10,2000.0
8189,TQRMNORRQHMORPCDEIJAH00802469,1.0,1,1,NaN,3,1,NaN,2,1,...,NaN,6,195000.0,5,NaN,5,5,NaN,6,6154.0
8190,TQRMNORRQHMORPCDEIJAH00802469,1.0,1,1,NaN,3,1,NaN,2,1,...,NaN,6,195000.0,5,NaN,5,5,NaN,6,6154.0
8191,TQRMNORRQHMORPCDEIJAH00802469,1.0,1,1,NaN,3,1,NaN,2,1,...,NaN,6,195000.0,5,NaN,5,5,NaN,6,6154.0

In [34]:
# Mostrar columnas duplicadas
columnas_duplicadas = df_combined_final.columns[df_combined_final.columns.duplicated()]
print("Columnas duplicadas:", columnas_duplicadas)

# Mostrar filas duplicadas
filas_duplicadas = df_combined_final[df_combined_final.duplicated()]
print("Filas duplicadas:")
print(filas_duplicadas)

#confirmamos que no hay columnas ni filas duplicadas

Columnas duplicadas: Index([], dtype='object')
Filas duplicadas:
Empty DataFrame
Columns: [codusu, nro_hogar, realizada, iv1, iv1_esp, iv2, iv3, iv3_esp, iv4, iv5, iv6, iv7, iv7_esp, iv8, iv9, iv10, iv11, iv12_1, iv12_2, iv12_3, ii1, ii2, ii3, ii3_1, ii4_1, ii4_2, ii4_3, ii5, ii5_1, ii6, ii6_1, ii7, ii7_esp, ii8, ii8_esp, ii9, v1, v2, v21, v22, v3, v4, v5, v6, v7, v8, v9, v10, v11, v12, v13, v14, v15, v16, v17, v18, v19_a, v19_b, ix_tot, ix_men10, ix_mayeq10, vii1_1, vii1_2, vii2_1, vii2_2, vii2_3, vii2_4, idimph, componente, h15, ch03, ch04, ch05, ch06, ch07, ch08, ch09, ch10, ch11, ch12, ch13, ch14, ch15, ch15_cod, ch16, ch16_cod, nivel_ed, estado, cat_ocup, cat_inac, imputa, pp02c1, pp02c2, pp02c3, pp02c4, pp02c5, pp02c6, pp02c7, pp02c8, pp02e, ...]
Index: []

[0 rows x 247 columns]

# Ejercicio 3

In [35]:
# Variables con las que me quiero quedar
columnas_seleccionadas = [
    'codusu', 'nro_hogar', 'ano4', 'ch04', 'ch06', 'ch07', 'nivel_ed',
    'estado', 'cat_ocup', 'pp10a', 'pp10c', 'pp10e',
    'pp03i', 'pp03d', 'pp03h',  # Variables nuevas de 2024
    'itf', 'ipcf', 'pondera', 'decifr', 'deccfr',
    'ix_tot', 'ix_men10', 'iv1', 'mas_500', 'region', 'aglomerado'
]

# Filtrar el DataFrame con las columnas seleccionadas
df_selec = df_combined_final[columnas_seleccionadas]
df_selec

,codusu,nro_hogar,ano4,ch04,ch06,ch07,nivel_ed,estado,cat_ocup,pp10a,...,ipcf,pondera,decifr,deccfr,ix_tot,ix_men10,iv1,mas_500,region,aglomerado
0,125098,1.0,2004,Varón,79.0,Viudo,Secundaria Incompleta,Inactivo,0.0,0.0,...,368.0,1299,2,7,1.0,NaN,Departamento,S,Gran Buenos Aires,Ciudad de Buenos Aires
1,125397,1.0,2004,Mujer,67.0,Separado o divorciado,Primaria Completa,Ocupado,Cuenta propia,0.0,...,0.0,2018,,,1.0,NaN,Departamento,S,Gran Buenos Aires,Ciudad de Buenos Aires
2,125515,1.0,2004,Mujer,74.0,Viudo,Primaria Completa,Inactivo,0.0,0.0,...,440.0,1486,3,7,1.0,NaN,Departamento,S,Gran Buenos Aires,Ciudad de Buenos Aires
3,125558,1.0,2004,Varón,54.0,Casado,Primaria Completa,Ocupado,Cuenta propia,0.0,...,532.5,1674,9,8,4.0,NaN,Departamento,S,Gran Buenos Aires,Ciudad de Buenos Aires
4,125558,1.0,2004,Mujer,51.0,Casado,Superior Universitaria Completa,Inactivo,0.0,0.0,...,532.5,1674,9,8,4.0,NaN,Departamento,S,Gran Buenos Aires,Ciudad de Buenos Aires
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8187,TQRMNOQQWHKMOQCDEIJAH00861732,1.0,2024,1,32,5,4,1,3,NaN,...,0.0,2639,12,12,3.0,0.0,1,S,1,33
8188,TQRMNOSXRHKMNMCDEIJAH00861733,1.0,2024,1,24,5,5,1,3,NaN,...,740000.0,1497,8,10,1.0,0.0,2,S,1,33
8189,TQRMNORRQHMORPCDEIJAH00802469,1.0,2024,1,73,2,2,3,0,NaN,...,195000.0,3120,6,5,3.0,0.0,1,S,1,33
8190,TQRMNORRQHMORPCDEIJAH00802469,1.0,2024,2,68,2,4,3,0,NaN,...,195000.0,3120,6,5,3.0,0.0,1,S,1,33
8191,TQRMNORRQHMORPCDEIJAH00802469,1.0,2024,1,45,5,4,1,3,NaN,...,195000.0,3120,6,5,3.0,0.0,1,S,1,33

In [54]:
# Identificar columnas que contienen solo valores NaN o vacíos
columnas_solo_nan = df_combined_final.columns[df_combined_final.isnull().all()]

# Mostrar las columnas que contienen solo valores NaN o vacíos
print("Columnas que contienen solo valores NaN o vacíos:", columnas_solo_nan)

#por lo tanto, no hay columnas que contengan solo valores NaN o vacíos

#igualmente chequearemos con columnas que parecen tener solo valores vacíos y Nan

# Mostrar valores que no sean ni NaN ni vacíos para las columnas especificadas
columnas_interes = ['pp10a', 'pp10c', 'pp10e', 'pp03i', 'pp03d', 'pp03h', 'itf', 'ix_men10']

for columna in columnas_interes:
    valores_no_nulos = df_combined_final[columna].dropna().unique()
    valores_no_vacios = [valor for valor in valores_no_nulos if valor != '']
    print(f"Valores no nulos ni vacíos para la columna {columna}: {valores_no_vacios}")

#por lo tanto, no hay valores que no sean ni NaN ni vacíos para las columnas que elegimos quedarnos

Columnas que contienen solo valores NaN o vacíos: Index([], dtype='object')
Valores no nulos ni vacíos para la columna pp10a: ['0.0', '...más de 1 año?', '...más de 6 a 12 meses?', '...de 1 a 3 meses?', '...más de 3 a 6 meses?', '...menos de 1 mes?', 'Ns./Nr.', 2.0, 1.0, 3.0, 5.0, 4.0, '2.0', '5.0', '1.0', '3.0', '4.0']
Valores no nulos ni vacíos para la columna pp10c: ['0.0', 'No', 'Sí', 'Ns./Nr.', 2.0, 1.0, '2.0', '1.0']
Valores no nulos ni vacíos para la columna pp10e: ['0.0', '...más de 3 años?', '...más de 1 a 3 años?', '...más de 3 a 6 meses?', '...de 1 a 3 meses?', '...menos de 1 mes?', 'Ns./Nr.', '...más de 6 a 12 meses?', 3.0, 2.0, 1.0, 6.0, 5.0, 0.0, 4.0, 9.0, '6.0', '4.0', '1.0', '2.0', '3.0', '5.0']
Valores no nulos ni vacíos para la columna pp03i: ['0.0', 'Sí', 'No', 1.0, 2.0, 9.0, '1.0', '2.0', '9.0']
Valores no nulos ni vacíos para la columna pp03d: [0.0, 2.0, 3.0, 4.0, 1.0, 5.0, 9.0, 6.0]
Valores no nulos ni vacíos para la columna pp03h: ['0.0', '...podía trabajarlas esa semana?', '...no podía trabajar más horas?', '...podía empezar a trabajarlas en dos semanas a más tardar?', 1.0, 0.0, 3.0, 2.0, 9.0, '1.0', '3.0', '9.0', '2.0']
Valores no nulos ni vacíos para la columna itf: [368, 0, 440, 2130, 1040, 750, 1470, 2070, 5755, 1700, 2700, 3000, 360, 3620, 622, 340, 1120, 4700, 1000, 1600, 1300, 1520, 540, 2400, 800, 1170, 850, 2650, 3500, 900, 100, 1150, 2350, 5900, 1588, 425, 1100, 4165, 2100, 700, 600, 400, 1050, 1210, 1051, 1430, 682, 2500, 500, 2300, 150, 5700, 1800, 300, 1070, 1500, 5400, 823, 1484, 3502, 450, 670, 975, 1900, 1160, 2040, 6310, 1709, 610, 2330, 650, 1400, 230, 1442, 860, 605, 1110, 1060, 1200, 1680, 215, 2800, 1310, 660, 520, 2880, 3390, 255, 302, 482, 5100, 2544, 2600, 2000, 980, 620, 830, 609, 380, 1402, 480, 2050, 550, 4500, 4980, 1026, 950, 435, 1630, 350, 50, 720, 2200, 1650, 5762, 507, 940, 1420, 4000, 1410, 1055, 6000, 2250, 490, 1392, 2220, 3800, 2802, 3900, 690, 200, 220, 760, 551, 541, 4380, 410, 1231, 1740, 4600, 2555, 1660, 629, 375, 4109, 1025, 198, 1450, 2230, 752, 710, 840, 505, 630, 3250, 3300, 1280, 19200, 426, 2345, 640, 618, 2440, 1840, 1662, 1350, 430, 3400, 3868, 12300, 5000, 1080, 2150, 1850, 1020, 1259, 1729, 702, 1820, 5600, 1220, 870, 2490, 1550, 675, 460, 5340, 1670, 810, 1078, 3040, 680, 820, 1750, 470, 3600, 1464, 2140, 586, 1302, 2102, 1530, 240, 1065, 3475, 908, 924, 1102, 1436, 1130, 1848, 3450, 290000, 1900000, 67500, 800000, 920000, 900000, 370000, 650000, 220000, 680000, 700000, 741000, 215000, 724000, 226400, 9545000, 300000, 500000, 490000, 550000, 470000, 467500, 275000, 1300000, 2200000, 380000, 620000, 180000, 230000, 10400000, 600000, 554000, 1570000, 320000, 168000, 1000000, 850000, 473000, 174000, 515000, 1350000, 410000, 430000, 460000, 310000, 423000, 776000, 360000, 377000, 30000, 560000, 400000, 200000, 105000, 1200000, 245000, 210000, 2000000, 3395000, 848000, 190000, 158000, 70000, 796000, 480000, 252000, 980000, 570000, 205000, 416000, 484300, 2800000, 110000, 1050000, 2650000, 267000, 457500, 270000, 820000, 10500, 130000, 212000, 615500, 750000, 660000, 885000, 423200, 146000, 3000000, 615000, 579500, 1660000, 580000, 790000, 530000, 1410000, 315000, 160000, 566000, 445000, 151000, 404000, 345000, 1411000, 363000, 2180000, 250000, 660500, 1280000, 375000, 450000, 169000, 260000, 354000, 265000, 419000, 330000, 157000, 357000, 240000, 620900, 50000, 333000, 667000, 1750000, 1060000, 32000, 4800000, 868000, 1620000, 975000, 890000, 100000, 150000, 768000, 325000, 1103000, 340000, 222000, 524000, 7800000, 545000, 1600000, 656000, 95000, 1380000, 2570000, 361000, 512000, 720000, 1500000, 348000, 258000, 1100000, 2360000, 1070000, 810000, 312000, 396500, 412500, 1320000, 488000, 390000, 128000, 308000, 670000, 1420000, 730000, 713000, 540000, 255000, 350000, 135000, 232000, 20000, 1800000, 585000, 527000, 140000, 120000, 396000, 630000, 760000, 467000, 1014000, 394000, 685000, 4700000, 4300000, 950000, 1051000, 175000, 280000, 1775000, 234000, 80000, 485000, 605000, 687000, 417000, 612000, 525000, 90000, 2420000, 43000, 877000, 1450000, 984000, 1250000, 835000, 990000, 173000, 1290000, 115287, 1625000, 1213000, 1400000, 725000, 288000, 3635000, 746000, 4100000, 886500, 732000, 1091000, 408000, 242000, 1220000, 1850000, 830000, 601000, 1160000, 3400000, 1010000, 115000, 940000, 1111000, 307000, 384000, 616000, 415000, 398000, 917000, 358000, 498000, 861000, 1798000, 314000, 420000, 1412500, 465000, 137000, 626000, 646500, 671300, 625000, 321000, 2550000, 342000, 1630000, 520000, 235000, 635000, 930000, 666000, 262000, 231000, 155000, 164000, 516000, 2100000, 1318000, 1810000, 1584000, 770000, 1833000, 207000, 435000, 1125000, 657000, 216000, 1560700, 1045000, 184000, 1262000, 254000, 970000, 238000, 268500, 802500, 204000, 185000, 154000, 3800000, 1080000, 608000, 462000, 1580000, 910000, 1210500, 482000, 740000, 261000, 305000, 15500000, 346000, 311634, 2025000, 1056000, 672000, 395000, 144000, 209000, 769000, 649000, 492000, 1650000, 206000, 1680000, 1180000, 533000, 416300, 1090000, 343000, 487000, 166000, 401000, 402000, 440200, 972000, 1720000, 2400000, 2135000, 1215000, 162000, 266000, 60000, 675000, 957000, 2250000, 138000, 386000, 432000, 15000, 259000, 440000, 1828000, 1490000, 125000, 134000, 610000, 447500, 10000, 785000, 1700000, 1634000, 127000, 1128000, 665500, 456000, 2500000, 243000, 2750000, 537000, 769500, 364000, 159000, 145000, 1205000, 227500, 425000, 123000, 371000, 1975000, 27000, 171000, 526000, 2300000, 808000, 388000, 3450000, 237000, 455000, 405000, 3030000, 596000, 503000, 3700000, 1560000, 172000, 427026, 539000, 457000, 286000, 282000, 7500000, 210250, 73000, 365000, 590000, 85000, 170000, 505000, 338000, 542000, 895000, 366000, 108000, 98000, 133000, 537200, 690000, 935000, 710000, 2799000, 817000, 636000, 136000, 382000, 213000, 317000, 7980000, 1790000, 495000, 208000, 170120, 1047250, 82000, 1075000, 565000, 1859000, 412000, 972500, 301000, 179000, 1428000, 83000, 1564000, 202000, 227000, 1770000, 677820, 3580000, 1033000, 316500, 381000, 960000, 2320000, 688000, 815000, 655000, 686000, 117000, 1072000, 856000, 1095000, 11750000, 886000, 302000, 507000, 294000, 961000, 443000, 756000, 352000, 2050000, 978000, 517000, 9820000, 2950000, 1685000, 1425000, 328000, 1150000, 1260000, 285000, 284000, 484000, 780000, 2468000, 1251000, 368000, 1575000, 840000, 623000, 2289000, 535000, 595000, 289000, 33937000, 870000, 2710000, 294500, 287500, 307500, 1460000, 5070000, 718000, 1140000, 1550000, 277000, 433000, 279000, 141000, 1087000, 1253000, 1240000, 219000, 152000, 322500, 1005000, 475000, 436000, 502000, 359000, 167000, 293000, 336000, 611000, 945000, 513000, 376000, 532000, 40000, 326000, 1062500, 3575000, 357500, 156000, 876000, 1120000, 1995000, 272000, 1310000, 195000, 446000, 3995000, 510000, 1311000, 1317000, 229000, 93000, 1020000, 247500, 745000, 707000, 1170000, 392000, 1245000, 118000, 674000, 449322, 1345000, 378000, 186000, 715000, 303000, 225000, 1370000, 795000, 759000, 1130000, 1275000, 414000, 705000, 598000, 391000, 633000, 189700, 14700, 2600000, 640000, 880000, 558000, 347000, 1395000, 2253000, 1152900, 146900, 3220000, 112000, 316000, 8500, 794000, 1071000, 458000, 188000, 295000, 1300700, 248000, 339000]
Valores no nulos ni vacíos para la columna ix_men10: [1.0, 2.0, 4.0, 3.0, 0.0, 6.0]

In [37]:

for column in df_selec.columns:
    unique_values = df_selec[column].unique()
    print(f"Unique values for column {column}: {unique_values}")

Unique values for column codusu: ['125098  ' '125397  ' '125515  ' ... 'TQRMNOQQWHKMOQCDEIJAH00861732'
 'TQRMNOSXRHKMNMCDEIJAH00861733' 'TQRMNORRQHMORPCDEIJAH00802469']
Unique values for column nro_hogar: [ 1.  2. 51.  3.]
Unique values for column ano4: [2004 2024]
Unique values for column ch04: ['Varón' 'Mujer' 1 2 '2' '1']
Unique values for column ch06: ['79.0' '67.0' '74.0' '54.0' '51.0' '25.0' '20.0' '55.0' '48.0' '17.0'
 '15.0' '77.0' '50.0' '49.0' '26.0' '22.0' '18.0' '86.0' '62.0' '76.0'
 '45.0' '41.0' '21.0' '31.0' '19.0' '52.0' '12.0' '32.0' '29.0' '64.0'
 '10.0' '47.0' '43.0' '13.0' '3.0' '46.0' '78.0' '60.0' '59.0' '37.0'
 '44.0' '30.0' '63.0' '71.0' '87.0' '34.0' '14.0' '24.0' '28.0' '27.0'
 '69.0' '56.0' '33.0' '66.0' '61.0' '1.0' '92.0' 'Menos de 1 año' '65.0'
 '57.0' '23.0' '4.0' '40.0' '16.0' '9.0' '83.0' '6.0' '38.0' '75.0' '11.0'
 '53.0' '73.0' '39.0' '35.0' '7.0' '5.0' '36.0' '8.0' '82.0' '85.0' '72.0'
 '70.0' '89.0' '42.0' '2.0' '58.0' '68.0' '81.0' '80.0' '93.0' '96.0'
 '84.0' 37 47 46 6 20 65 62 35 31 69 48 54 17 27 56 40 15 12 11 8 33 36 5
 88 68 24 28 9 2 45 22 44 14 16 23 7 4 80 76 57 3 19 25 43 41 64 38 13 18
 30 1 70 73 67 29 42 50 95 60 51 72 -1 34 39 58 53 55 49 77 52 21 61 63 26
 89 32 71 10 66 85 82 78 81 79 75 59 74 86 90 83 92 91 96 84 93 94 87 '89'
 '56' '82' '47' '55' '52' '23' '21' '17' '54' '64' '43' '26' '29' '80'
 '49' '15' '12' '25' '13' '5' '8' '44' '33' '4' '24' '1' '76' '37' '46'
 '7' '22' '73' '65' '69' '45' '53' '14' '10' '62' '51' '50' '58' '36' '38'
 '18' '35' '32' '19' '61' '75' '41' '16' '34' '11' '48' '60' '57' '63'
 '40' '77' '31' '30' '84' '85' '28' '20' '90' '67' '81' '70' '74' '6' '71'
 '68' '72' '86' '39' '27' '93' '42' '9' '2' '59' '97' '83' '-1' '66' '3'
 '79' '78' '91' '92' '88' '87']
Unique values for column ch07: ['Viudo' 'Separado o divorciado' 'Casado' 'Soltero' 'Unido' 5 1 2 4 3 9
 '4' '5' '2' '1' '3' '9']
Unique values for column nivel_ed: ['Secundaria Incompleta' 'Primaria Completa'
 'Superior Universitaria Completa' 'Superior Universitaria Incompleta'
 'Secundaria Completa' 'Primaria Incompleta (incluye educación especial)'
 'Sin instrucción' 4 1 6 3 5 7 2 '2' '3' '4' '6' '1' '5' '7']
Unique values for column estado: ['Inactivo' 'Ocupado' 'Desocupado' 'Menor de 10 años' 1 3 4 2 0 '3' '1'
 '2' '4' '0']
Unique values for column cat_ocup: ['0.0' 'Cuenta propia' 'Trabajador familiar sin remuneración'
 'Obrero o empleado' 'Patrón' 2 1 0 3 4 '0' '2' '3' '1' '4']
Unique values for column pp10a: ['0.0' '...más de 1 año?' '...más de 6 a 12 meses?' '...de 1 a 3 meses?'
 '...más de 3 a 6 meses?' '...menos de 1 mes?' 'Ns./Nr.' nan 2.0 1.0 3.0
 5.0 4.0 '2.0' '5.0' '1.0' '3.0' '4.0']
Unique values for column pp10c: ['0.0' 'No' 'Sí' 'Ns./Nr.' nan 2.0 1.0 '2.0' '1.0']
Unique values for column pp10e: ['0.0' '...más de 3 años?' '...más de 1 a 3 años?'
 '...más de 3 a 6 meses?' '...de 1 a 3 meses?' '...menos de 1 mes?'
 'Ns./Nr.' '...más de 6 a 12 meses?' nan 3.0 2.0 1.0 6.0 5.0 0.0 4.0 9.0
 '6.0' '4.0' '1.0' '2.0' '3.0' '5.0']
Unique values for column pp03i: ['0.0' 'Sí' 'No' 1.0 2.0 nan 9.0 '1.0' '2.0' '9.0']
Unique values for column pp03d: [ 0.  2.  3.  4.  1. nan  5.  9.  6.]
Unique values for column pp03h: ['0.0' '...podía trabajarlas esa semana?'
 '...no podía trabajar más horas?'
 '...podía empezar a trabajarlas en dos semanas a más tardar?' 1.0 0.0 nan
 3.0 2.0 9.0 '1.0' '3.0' '9.0' '2.0']
Unique values for column itf: [     368        0      440     2130     1040      750     1470     2070
     5755     1700     2700     3000      360     3620      622      340
     1120     4700     1000     1600     1300     1520      540     2400
      800     1170      850     2650     3500      900      100     1150
     2350     5900     1588      425     1100     4165     2100      700
      600      400     1050     1210     1051     1430      682     2500
      500     2300      150     5700     1800      300     1070     1500
     5400      823     1484     3502      450      670      975     1900
     1160     2040     6310     1709      610     2330      650     1400
      230     1442      860      605     1110     1060     1200     1680
      215     2800     1310      660      520     2880     3390      255
      302      482     5100     2544     2600     2000      980      620
      830      609      380     1402      480     2050      550     4500
     4980     1026      950      435     1630      350       50      720
     2200     1650     5762      507      940     1420     4000     1410
     1055     6000     2250      490     1392     2220     3800     2802
     3900      690      200      220      760      551      541     4380
      410     1231     1740     4600     2555     1660      629      375
     4109     1025      198     1450     2230      752      710      840
      505      630     3250     3300     1280    19200      426     2345
      640      618     2440     1840     1662     1350      430     3400
     3868    12300     5000     1080     2150     1850     1020     1259
     1729      702     1820     5600     1220      870     2490     1550
      675      460     5340     1670      810     1078     3040      680
      820     1750      470     3600     1464     2140      586     1302
     2102     1530      240     1065     3475      908      924     1102
     1436     1130     1848     3450   290000  1900000    67500   800000
   920000   900000   370000   650000   220000   680000   700000   741000
   215000   724000   226400  9545000   300000   500000   490000   550000
   470000   467500   275000  1300000  2200000   380000   620000   180000
   230000 10400000   600000   554000  1570000   320000   168000  1000000
   850000   473000   174000   515000  1350000   410000   430000   460000
   310000   423000   776000   360000   377000    30000   560000   400000
   200000   105000  1200000   245000   210000  2000000  3395000   848000
   190000   158000    70000   796000   480000   252000   980000   570000
   205000   416000   484300  2800000   110000  1050000  2650000   267000
   457500   270000   820000    10500   130000   212000   615500   750000
   660000   885000   423200   146000  3000000   615000   579500  1660000
   580000   790000   530000  1410000   315000   160000   566000   445000
   151000   404000   345000  1411000   363000  2180000   250000   660500
  1280000   375000   450000   169000   260000   354000   265000   419000
   330000   157000   357000   240000   620900    50000   333000   667000
  1750000  1060000    32000  4800000   868000  1620000   975000   890000
   100000   150000   768000   325000  1103000   340000   222000   524000
  7800000   545000  1600000   656000    95000  1380000  2570000   361000
   512000   720000  1500000   348000   258000  1100000  2360000  1070000
   810000   312000   396500   412500  1320000   488000   390000   128000
   308000   670000  1420000   730000   713000   540000   255000   350000
   135000   232000    20000  1800000   585000   527000   140000   120000
   396000   630000   760000   467000  1014000   394000   685000  4700000
  4300000   950000  1051000   175000   280000  1775000   234000    80000
   485000   605000   687000   417000   612000   525000    90000  2420000
    43000   877000  1450000   984000  1250000   835000   990000   173000
  1290000   115287  1625000  1213000  1400000   725000   288000  3635000
   746000  4100000   886500   732000  1091000   408000   242000  1220000
  1850000   830000   601000  1160000  3400000  1010000   115000   940000
  1111000   307000   384000   616000   415000   398000   917000   358000
   498000   861000  1798000   314000   420000  1412500   465000   137000
   626000   646500   671300   625000   321000  2550000   342000  1630000
   520000   235000   635000   930000   666000   262000   231000   155000
   164000   516000  2100000  1318000  1810000  1584000   770000  1833000
   207000   435000  1125000   657000   216000  1560700  1045000   184000
  1262000   254000   970000   238000   268500   802500   204000   185000
   154000  3800000  1080000   608000   462000  1580000   910000  1210500
   482000   740000   261000   305000 15500000   346000   311634  2025000
  1056000   672000   395000   144000   209000   769000   649000   492000
  1650000   206000  1680000  1180000   533000   416300  1090000   343000
   487000   166000   401000   402000   440200   972000  1720000  2400000
  2135000  1215000   162000   266000    60000   675000   957000  2250000
   138000   386000   432000    15000   259000   440000  1828000  1490000
   125000   134000   610000   447500    10000   785000  1700000  1634000
   127000  1128000   665500   456000  2500000   243000  2750000   537000
   769500   364000   159000   145000  1205000   227500   425000   123000
   371000  1975000    27000   171000   526000  2300000   808000   388000
  3450000   237000   455000   405000  3030000   596000   503000  3700000
  1560000   172000   427026   539000   457000   286000   282000  7500000
   210250    73000   365000   590000    85000   170000   505000   338000
   542000   895000   366000   108000    98000   133000   537200   690000
   935000   710000  2799000   817000   636000   136000   382000   213000
   317000  7980000  1790000   495000   208000   170120  1047250    82000
  1075000   565000  1859000   412000   972500   301000   179000  1428000
    83000  1564000   202000   227000  1770000   677820  3580000  1033000
   316500   381000   960000  2320000   688000   815000   655000   686000
   117000  1072000   856000  1095000 11750000   886000   302000   507000
   294000   961000   443000   756000   352000  2050000   978000   517000
  9820000  2950000  1685000  1425000   328000  1150000  1260000   285000
   284000   484000   780000  2468000  1251000   368000  1575000   840000
   623000  2289000   535000   595000   289000 33937000   870000  2710000
   294500   287500   307500  1460000  5070000   718000  1140000  1550000
   277000   433000   279000   141000  1087000  1253000  1240000   219000
   152000   322500  1005000   475000   436000   502000   359000   167000
   293000   336000   611000   945000   513000   376000   532000    40000
   326000  1062500  3575000   357500   156000   876000  1120000  1995000
   272000  1310000   195000   446000  3995000   510000  1311000  1317000
   229000    93000  1020000   247500   745000   707000  1170000   392000
  1245000   118000   674000   449322  1345000   378000   186000   715000
   303000   225000  1370000   795000   759000  1130000  1275000   414000
   705000   598000   391000   633000   189700    14700  2600000   640000
   880000   558000   347000  1395000  2253000  1152900   146900  3220000
   112000   316000     8500   794000  1071000   458000   188000   295000
  1300700   248000   339000]
Unique values for column ipcf: [3.68000000e+02 0.00000000e+00 4.40000000e+02 5.32500000e+02
 2.08000000e+02 1.50000000e+02 7.35000000e+02 1.03500000e+03
 1.43875000e+03 5.66666667e+02 9.00000000e+02 3.00000000e+03
 1.80000000e+02 3.62000000e+03 3.11000000e+02 6.80000000e+01
 2.80000000e+02 9.40000000e+02 2.50000000e+02 1.60000000e+03
 3.25000000e+02 5.06666667e+02 5.40000000e+02 2.40000000e+03
 4.00000000e+02 3.90000000e+02 4.25000000e+02 1.32500000e+03
 4.33333333e+02 8.75000000e+02 1.00000000e+03 5.00000000e+01
 5.75000000e+02 1.15000000e+03 1.17500000e+03 2.95000000e+03
 2.66666667e+02 5.29333333e+02 3.91666667e+02 5.50000000e+02
 5.20625000e+02 4.20000000e+02 3.50000000e+02 2.00000000e+02
 2.62500000e+02 3.02500000e+02 5.25500000e+02 7.15000000e+02
 1.70500000e+02 6.25000000e+02 5.00000000e+02 7.50000000e+01
 2.85000000e+03 1.80000000e+03 1.00000000e+02 7.83333333e+02
 2.67500000e+02 1.25000000e+02 1.70000000e+03 7.50000000e+02
 3.00000000e+02 2.33333333e+02 8.23000000e+02 2.47333333e+02
 1.16733333e+03 4.50000000e+02 6.70000000e+02 9.75000000e+02
 1.90000000e+03 2.32000000e+02 6.80000000e+02 1.57750000e+03
 5.69666667e+02 6.10000000e+02 1.16500000e+03 7.00000000e+02
 1.62500000e+02 4.66666667e+02 2.30000000e+02 1.44200000e+03
 8.60000000e+02 6.05000000e+02 5.55000000e+02 5.30000000e+02
 2.70000000e+02 5.60000000e+02 7.16666667e+01 2.80000000e+03
 3.27500000e+02 6.60000000e+02 1.04000000e+02 1.44000000e+03
 6.78000000e+02 5.33333333e+02 2.55000000e+02 6.00000000e+02
 2.10000000e+03 1.51000000e+02 2.41000000e+02 5.25000000e+02
 1.05000000e+03 1.04000000e+03 6.42857143e+01 3.66666667e+02
 1.20000000e+03 1.27500000e+03 6.36000000e+02 3.33333333e+02
 8.66666667e+02 3.26666667e+02 3.10000000e+02 1.40000000e+03
 8.30000000e+02 6.09000000e+02 1.83333333e+02 3.80000000e+02
 2.50000000e+03 2.80400000e+02 1.20000000e+02 2.92857143e+02
 1.37500000e+02 4.50000000e+03 2.49000000e+03 1.02600000e+03
 4.75000000e+02 2.17500000e+02 8.15000000e+02 2.50000000e+01
 3.60000000e+02 5.20000000e+02 6.50000000e+02 1.44050000e+03
 2.53500000e+02 1.34285714e+02 1.10000000e+03 3.55000000e+02
 2.00000000e+03 1.30000000e+03 3.52500000e+02 1.05500000e+03
 8.00000000e+02 1.12500000e+03 4.90000000e+02 4.64000000e+02
 3.70000000e+02 7.00000000e+01 1.26666667e+03 9.50000000e+02
 5.60400000e+02 3.90000000e+03 1.15000000e+02 6.66666667e+01
 2.20000000e+02 1.90000000e+02 1.83666667e+02 1.66666667e+02
 5.41000000e+02 1.09500000e+03 2.40000000e+02 4.55555556e+01
 1.63333333e+02 1.50000000e+03 2.05166667e+02 8.70000000e+02
 2.30000000e+03 2.55500000e+03 5.53333333e+02 6.29000000e+02
 3.75000000e+02 8.21800000e+02 5.12500000e+02 1.60000000e+02
 6.60000000e+01 7.25000000e+02 3.30000000e+02 5.57500000e+02
 8.50000000e+02 4.70000000e+02 7.52000000e+02 4.60000000e+02
 4.80000000e+02 2.36666667e+02 1.68000000e+02 2.52500000e+02
 3.15000000e+02 1.08333333e+03 8.25000000e+02 3.20000000e+02
 2.87500000e+02 4.80000000e+03 4.26000000e+02 1.17250000e+03
 1.75000000e+02 6.40000000e+02 3.09000000e+02 4.88000000e+02
 8.31000000e+02 2.75000000e+02 1.35000000e+03 3.53333333e+02
 4.30000000e+02 1.93400000e+03 3.16666667e+02 4.10000000e+03
 1.73333333e+02 1.66666667e+03 9.25000000e+02 5.10000000e+02
 6.29500000e+02 2.47000000e+02 1.40400000e+02 8.12500000e+02
 9.10000000e+02 1.12000000e+03 7.33333333e+02 4.06666667e+02
 1.24500000e+03 7.75000000e+02 6.75000000e+02 1.33500000e+03
 1.26666667e+02 5.56666667e+02 4.05000000e+02 1.07800000e+03
 7.60000000e+02 3.40000000e+02 2.73333333e+02 7.00500000e+02
 1.57142857e+02 2.92800000e+02 7.14285714e+01 7.13333333e+02
 5.86000000e+02 1.75000000e+03 3.25500000e+02 2.25000000e+02
 2.10200000e+03 5.71428571e+01 1.73750000e+03 9.08000000e+02
 2.31000000e+02 5.51000000e+02 1.43600000e+03 5.65000000e+02
 6.16000000e+02 2.90000000e+05 9.50000000e+05 6.75000000e+04
 8.00000000e+05 4.60000000e+05 9.00000000e+05 6.16666700e+04
 1.62500000e+05 2.20000000e+05 1.70000000e+05 1.75000000e+05
 2.47000000e+05 5.37500000e+04 1.44800000e+05 7.54666700e+04
 2.38625000e+06 6.00000000e+04 5.00000000e+05 1.63333330e+05
 1.83333330e+05 2.35000000e+05 1.55833330e+05 1.37500000e+05
 3.25000000e+05 6.33333330e+05 1.10000000e+06 3.80000000e+05
 2.06666670e+05 1.15000000e+05 1.73333333e+06 6.00000000e+05
 4.00000000e+05 1.10800000e+05 3.14000000e+05 3.20000000e+05
 1.68000000e+05 8.50000000e+05 2.36500000e+05 5.80000000e+04
 1.71666670e+05 3.00000000e+05 2.50000000e+05 1.35000000e+06
 1.36666670e+05 1.43333330e+05 1.53333330e+05 6.20000000e+04
 6.04285700e+04 2.58666670e+05 3.60000000e+05 9.42500000e+04
 1.50000000e+05 3.00000000e+04 8.00000000e+04 6.66666700e+04
 1.80000000e+05 2.83333330e+05 1.05000000e+05 2.00000000e+05
 1.00000000e+05 2.45000000e+05 2.10000000e+05 6.79000000e+05
 1.26666670e+05 2.12000000e+05 7.00000000e+05 1.90000000e+05
 2.30000000e+05 1.58000000e+05 4.50000000e+05 7.00000000e+04
 3.98000000e+05 2.40000000e+05 6.30000000e+04 5.70000000e+05
 4.40000000e+04 1.02500000e+05 1.04000000e+05 1.21075000e+05
 5.50000000e+04 3.10000000e+05 3.50000000e+05 4.41666670e+05
 6.67500000e+04 1.00000000e+06 2.28750000e+05 1.35000000e+05
 4.10000000e+05 1.05000000e+04 1.60000000e+05 6.50000000e+04
 6.87500000e+04 2.05166670e+05 3.30000000e+05 1.47500000e+05
 1.55000000e+05 2.11600000e+05 1.46000000e+05 3.07500000e+05
 1.44875000e+05 2.76666670e+05 2.33333330e+05 3.95000000e+05
 2.65000000e+05 4.70000000e+05 1.57500000e+05 2.83000000e+05
 3.26666670e+05 9.00000000e+04 1.11250000e+05 7.55000000e+04
 2.02000000e+05 3.45000000e+05 3.52750000e+05 1.21000000e+05
 7.40000000e+04 5.45000000e+05 3.41666700e+04 1.10083330e+05
 7.50000000e+04 9.37500000e+04 1.20000000e+05 2.41428600e+04
 2.60000000e+05 8.85000000e+04 4.19000000e+05 1.57000000e+05
 6.50000000e+05 8.92500000e+04 1.24180000e+05 1.25000000e+04
 3.33000000e+05 3.33500000e+05 5.83333330e+05 3.53333330e+05
 1.60000000e+04 1.20000000e+06 4.34000000e+05 1.62000000e+06
 4.87500000e+05 2.22500000e+05 5.50000000e+05 5.00000000e+04
 2.56000000e+05 1.83833330e+05 2.22000000e+05 2.62000000e+05
 1.95000000e+06 1.10000000e+05 4.90000000e+05 2.66666670e+05
 3.33333330e+05 1.33333330e+05 2.18666670e+05 1.05000000e+06
 1.85000000e+05 4.75000000e+04 1.28500000e+06 3.61000000e+05
 5.12000000e+05 1.74000000e+05 6.45000000e+04 1.18000000e+06
 1.07000000e+06 2.70000000e+05 7.80000000e+04 1.32166670e+05
 2.06250000e+05 6.60000000e+05 4.88000000e+05 1.95000000e+05
 2.56000000e+04 1.02666670e+05 6.70000000e+05 4.73333330e+05
 1.50000000e+06 3.65000000e+05 1.18833330e+05 2.55000000e+05
 1.16000000e+05 1.00000000e+04 7.50000000e+05 2.92500000e+05
 1.31750000e+05 1.40000000e+05 1.98000000e+05 2.33500000e+05
 1.01400000e+06 1.97000000e+05 2.25000000e+05 1.71250000e+05
 6.66667000e+03 1.17500000e+06 1.07500000e+06 4.75000000e+05
 1.24000000e+05 5.25500000e+05 8.33333300e+04 2.80000000e+05
 4.43750000e+05 1.17000000e+05 2.66666700e+04 1.61666670e+05
 4.80000000e+05 1.87500000e+05 1.51250000e+05 5.35000000e+05
 1.71750000e+05 1.39000000e+05 3.06000000e+05 1.30000000e+05
 1.31250000e+05 2.75000000e+05 6.05000000e+05 1.07500000e+04
 2.16666670e+05 7.30833300e+04 3.37500000e+05 3.62500000e+05
 8.94545500e+04 2.23333330e+05 6.25000000e+05 8.10000000e+05
 1.67000000e+05 4.95000000e+05 8.65000000e+04 2.58000000e+05
 3.84290000e+04 5.41666670e+05 6.06500000e+05 9.60000000e+04
 9.08750000e+05 3.73000000e+05 2.05000000e+06 1.26642860e+05
 1.83000000e+05 1.36375000e+05 8.16000000e+04 4.00000000e+04
 6.05000000e+04 6.10000000e+05 4.62500000e+05 3.00000000e+06
 3.00500000e+05 5.80000000e+05 1.13333333e+06 3.36666670e+05
 3.83333300e+04 8.90000000e+04 5.33333330e+05 1.16666670e+05
 3.33333300e+04 9.40000000e+05 3.70333330e+05 2.50000000e+04
 7.90000000e+04 5.20000000e+04 3.07000000e+05 1.92000000e+05
 1.76666670e+05 3.08000000e+05 4.15000000e+05 7.96000000e+04
 2.25000000e+04 2.29250000e+05 2.62500000e+05 3.58000000e+05
 2.49000000e+05 1.72200000e+05 8.99000000e+05 1.25000000e+05
 4.20000000e+05 1.80000000e+06 4.70833330e+05 2.32500000e+05
 1.37000000e+05 3.13000000e+05 1.29300000e+05 1.34260000e+05
 5.33333300e+04 2.42000000e+05 1.60500000e+05 6.37500000e+05
 8.55000000e+04 5.43333330e+05 3.17500000e+05 9.30000000e+05
 1.31000000e+05 5.77500000e+04 8.66666700e+04 1.13333330e+05
 8.20000000e+04 8.60000000e+04 6.59000000e+05 6.03333330e+05
 7.92000000e+05 7.70000000e+05 1.83300000e+06 6.90000000e+04
 1.08750000e+05 5.62500000e+05 6.57000000e+05 1.08000000e+05
 7.80350000e+05 1.04500000e+06 1.84000000e+05 3.06666670e+05
 1.26200000e+06 2.54000000e+04 2.42500000e+05 1.19000000e+05
 2.68500000e+05 2.67500000e+05 9.90000000e+04 2.04000000e+05
 4.30000000e+05 6.40000000e+05 7.70000000e+04 1.90000000e+06
 2.02666670e+05 2.31000000e+05 3.03333330e+05 6.05250000e+05
 2.41000000e+05 2.46666670e+05 2.41666670e+05 2.61000000e+05
 1.01666670e+05 7.75000000e+06 3.46000000e+05 3.11634000e+05
 3.90000000e+05 1.01250000e+06 5.40000000e+04 2.11200000e+05
 1.34400000e+05 9.87500000e+04 4.80000000e+04 6.96666700e+04
 1.18571430e+05 2.56333330e+05 2.16333330e+05 1.30000000e+06
 1.23000000e+05 4.33333330e+05 2.44000000e+05 8.25000000e+05
 2.06000000e+05 5.60000000e+05 1.77666670e+05 1.04075000e+05
 1.71500000e+05 2.43500000e+05 8.30000000e+04 1.45000000e+05

In [38]:
#chequeo por variable como se encuentran las cateogiras y nombres en cada una
variedad_ch04 = df_selec['cat_ocup'].unique()
print(variedad_ch04)

['0.0' 'Cuenta propia' 'Trabajador familiar sin remuneración'
 'Obrero o empleado' 'Patrón' 2 1 0 3 4 '0' '2' '3' '1' '4']

In [39]:
#le sacamos los decimales a los numeros que tenian
# Lista de columnas que deseas procesar
columnas_a_procesar = ['codusu', 'nro_hogar', 'ano4', 'ch04', 'ch06', 'ch07', 'nivel_ed',
    'estado', 'cat_ocup', 'pp10a', 'pp10c', 'pp10e',
    'pp03i', 'pp03d', 'pp03h',  
    'itf', 'ipcf', 'pondera', 'decifr', 'deccfr',
    'ix_tot', 'ix_men10', 'iv1', 'mas_500', 'region', 'aglomerado']
# Procesar las columnas
for columna in columnas_a_procesar:
    if columna in df_selec.columns:
        # Eliminar decimales de valores numéricos
        df_selec[columna] = df_selec[columna].apply(
            lambda x: int(float(x)) if isinstance(x, (int, float, str)) and str(x).replace('.', '', 1).isdigit() else x
        )

# Mostrar las primeras filas del DataFrame actualizado
print("DataFrame actualizado sin decimales en las columnas especificadas:")
print(df_selec.head())

C:\Users\matug\AppData\Local\Temp\ipykernel_11800\2081672549.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selec[columna] = df_selec[columna].apply(

DataFrame actualizado sin decimales en las columnas especificadas:
     codusu  nro_hogar  ano4   ch04 ch06                   ch07  \
0  125098            1  2004  Varón   79                  Viudo
1  125397            1  2004  Mujer   67  Separado o divorciado
2  125515            1  2004  Mujer   74                  Viudo
3  125558            1  2004  Varón   54                 Casado
4  125558            1  2004  Mujer   51                 Casado

                          nivel_ed    estado       cat_ocup pp10a  ... ipcf  \
0            Secundaria Incompleta  Inactivo              0     0  ...  368
1                Primaria Completa   Ocupado  Cuenta propia     0  ...    0
2                Primaria Completa  Inactivo              0     0  ...  440
3                Primaria Completa   Ocupado  Cuenta propia     0  ...  532
4  Superior Universitaria Completa  Inactivo              0     0  ...  532

  pondera decifr  deccfr ix_tot  ix_men10           iv1  mas_500  \
0    1299      2       7      1       NaN  Departamento        S
1    2018                     1       NaN  Departamento        S
2    1486      3       7      1       NaN  Departamento        S
3    1674      9       8      4       NaN  Departamento        S
4    1674      9       8      4       NaN  Departamento        S

              region              aglomerado
0  Gran Buenos Aires  Ciudad de Buenos Aires
1  Gran Buenos Aires  Ciudad de Buenos Aires
2  Gran Buenos Aires  Ciudad de Buenos Aires
3  Gran Buenos Aires  Ciudad de Buenos Aires
4  Gran Buenos Aires  Ciudad de Buenos Aires

[5 rows x 26 columns]

In [40]:

#ahora vamos a convertir nuestros datos categoricos numericos a nombres
#esto lo hago para que queden el mismo formato de datos bajo las columas
# Lista de columnas y sus mapeos
mapeos = {
    'ch04': {1: 'Varón', 2: 'Mujer', '1': 'Varón', '2': 'Mujer'},
    'ch07': {1: 'Unido', 2: 'Casado', 3: 'Separado o divorciado', 4: 'Viudo', 5: 'Soltero'},
    'nivel_ed': {
        1: 'Primaria Incompleta (incluye educación especial)',
        2: 'Primaria Completa',
        3: 'Secundaria Incompleta',
        4: 'Secundaria Completa',
        5: 'Superior Universitaria Incompleta',
        6: 'Superior Universitaria Completa',
        7: 'Sin instrucción',
        9: 'Ns/Nr'
    },
    'estado': {
        0: 'Entrevista individual no realizada (no respuesta al Cuestionario Individual)',
        1: 'Ocupado',
        2: 'Desocupado',
        3: 'Inactivo',
        4: 'Menor de 10 años'
    },
    'cat_ocup': {
        0: 'Ns/Nr',
        1: 'Patrón',
        2: 'Cuenta propia',
        3: 'Obrero o empleado',
        4: 'Trabajador familiar sin remuneración',
        9: 'Ns/Nr'
    },
    'region': {1: 'Gran Buenos Aires'},
    'mas_500': {
        'N': 'Conjunto de aglomerados de menos de 500.000 habitantes',
        'S': 'Conjunto de aglomerados de 500.000 y más habitantes'
    },
    'aglomerado': {32: 'Ciudad de Buenos Aires', 33: 'Partidos del GBA'
    },
    'pp10a': {1: '...menos de 1 mes? ', 2: '...de 1 a 3 meses? ', 3: '...más de 3 a 6 meses?' , 4: ' ...más de 6 a 12 meses? ', 5: '...más de 1 año?', 0: 'Ns/Nr'},
    'pp10c': {1: 'Sí', 2: 'No', 0: 'Ns/Nr'},
    'pp10e': {1: '...menos de 1 mes? ', 2: '...de 1 a 3 meses? ', 3: '...más de 3 a 6 meses?' , 4: ' ...más de 6 a 12 meses? ', 5: '...más de 1 a 3 años?', 6:'...más de 3 años?', 0: 'Ns/Nr'},
    'pp03i': {1: 'Sí', 2: 'No', 0.0: 'Ns/Nr', 9: 'Ns/Nr'},
    'pp03h': {1: '...podía trabajarlas esa semana? ', 2: '...podía empezar a trabajarlas en dos semanas a más tardar? ', 3:'...no podía trabajar más horas? ', 9: 'Ns/Nr', 0: 'Ns/Nr'},
    'iv1': {1: 'Casa', 2: 'Departamento', 3: 'Pieza de inquilinato', 4: 'Pieza en hotel/pensión', 5: 'Local no construido para habitación', 6: 'Otros'}
}



# Aplicar mapeos a las columnas sin sobrescribir valores existentes
for columna, mapeo in mapeos.items():
    if columna in df_selec.columns:
        # Aplicar el mapeo solo a valores que están en el diccionario, dejando los demás intactos
        df_selec[columna] = df_selec[columna].map(mapeo).fillna(df_selec[columna])

# Mostrar las primeras filas del DataFrame actualizado
print("DataFrame actualizado con valores mapeados y existentes preservados:")
print(df_selec.head())

DataFrame actualizado con valores mapeados y existentes preservados:
     codusu  nro_hogar  ano4   ch04 ch06                   ch07  \
0  125098            1  2004  Varón   79                  Viudo
1  125397            1  2004  Mujer   67  Separado o divorciado
2  125515            1  2004  Mujer   74                  Viudo
3  125558            1  2004  Varón   54                 Casado
4  125558            1  2004  Mujer   51                 Casado

                          nivel_ed    estado       cat_ocup  pp10a  ... ipcf  \
0            Secundaria Incompleta  Inactivo          Ns/Nr  Ns/Nr  ...  368
1                Primaria Completa   Ocupado  Cuenta propia  Ns/Nr  ...    0
2                Primaria Completa  Inactivo          Ns/Nr  Ns/Nr  ...  440
3                Primaria Completa   Ocupado  Cuenta propia  Ns/Nr  ...  532
4  Superior Universitaria Completa  Inactivo          Ns/Nr  Ns/Nr  ...  532

  pondera decifr  deccfr ix_tot  ix_men10           iv1  \
0    1299      2       7      1       NaN  Departamento
1    2018                     1       NaN  Departamento
2    1486      3       7      1       NaN  Departamento
3    1674      9       8      4       NaN  Departamento
4    1674      9       8      4       NaN  Departamento

                                             mas_500             region  \
0  Conjunto de aglomerados de 500.000 y más habit...  Gran Buenos Aires
1  Conjunto de aglomerados de 500.000 y más habit...  Gran Buenos Aires
2  Conjunto de aglomerados de 500.000 y más habit...  Gran Buenos Aires
3  Conjunto de aglomerados de 500.000 y más habit...  Gran Buenos Aires
4  Conjunto de aglomerados de 500.000 y más habit...  Gran Buenos Aires

               aglomerado
0  Ciudad de Buenos Aires
1  Ciudad de Buenos Aires
2  Ciudad de Buenos Aires
3  Ciudad de Buenos Aires
4  Ciudad de Buenos Aires

[5 rows x 26 columns]

C:\Users\matug\AppData\Local\Temp\ipykernel_11800\2819338659.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selec[columna] = df_selec[columna].map(mapeo).fillna(df_selec[columna])

In [55]:
# Asegurar que todas las variaciones ('Ns/Nr', 'Ns./Nr') se conviertan en 'Ns./Nr'
df_selec.replace(['Ns/Nr', 'Ns./Nr.'], 'Ns./Nr.', inplace=True)

for column in df_selec.columns:
    unique_values = df_selec[column].unique()
    print(f"Unique values for column {column}: {unique_values}")

Unique values for column codusu: ['125098  ' '125515  ' '125558  ' ... 'TQRMNOQQWHKMOQCDEIJAH00861732'
 'TQRMNOSXRHKMNMCDEIJAH00861733' 'TQRMNORRQHMORPCDEIJAH00802469']
Unique values for column nro_hogar: [ 1  2 51  3]
Unique values for column ano4: [2004 2024]
Unique values for column ch04: ['Varón' 'Mujer']
Unique values for column ch06: [79 74 54 51 25 20 55 48 17 15 77 50 49 26 22 18 86 62 76 45 41 21 31 19
 52 12 32 29 64 10 47 43 13  3 46 78 60 59 37 44 30 63 71 67 87 34 14 24
 28 27 69 56 33 66 61  1 92 65 57 23  4 40 16  9 83  6 38 75 11 53 73 39
 35  7  5 36  8 82 85 72 70 89 42  2 58 68 81 80 93 96 84 88 95 -1 90 91
 94 97]
Unique values for column ch07: ['Viudo' 'Casado' 'Soltero' 'Unido' 'Separado o divorciado']
Unique values for column nivel_ed: ['Secundaria Incompleta' 'Primaria Completa'
 'Superior Universitaria Completa' 'Superior Universitaria Incompleta'
 'Secundaria Completa' 'Primaria Incompleta (incluye educación especial)'
 'Sin instrucción']
Unique values for column estado: ['Inactivo' 'Ocupado' 'Desocupado' 'Menor de 10 años'
 'Entrevista individual no realizada (no respuesta al Cuestionario Individual)']
Unique values for column cat_ocup: ['Ns./Nr.' 'Cuenta propia' 'Trabajador familiar sin remuneración'
 'Obrero o empleado' 'Patrón']
Unique values for column pp10a: ['Ns./Nr.' '...más de 1 año?' '...más de 6 a 12 meses?'
 '...de 1 a 3 meses?' '...más de 3 a 6 meses?' '...menos de 1 mes?'
 '...de 1 a 3 meses? ' '...menos de 1 mes? ' ' ...más de 6 a 12 meses? ']
Unique values for column pp10c: ['Ns./Nr.' 'No' 'Sí']
Unique values for column pp10e: ['Ns./Nr.' '...más de 3 años?' '...más de 1 a 3 años?'
 '...más de 3 a 6 meses?' '...de 1 a 3 meses?' '...menos de 1 mes?'
 '...más de 6 a 12 meses?' '...de 1 a 3 meses? ' '...menos de 1 mes? '
 ' ...más de 6 a 12 meses? ']
Unique values for column pp03i: ['Ns./Nr.' 'No' 'Sí']
Unique values for column pp03d: [0. 2. 3. 4. 1. 5. 9. 6.]
Unique values for column pp03h: ['Ns./Nr.' '...podía trabajarlas esa semana?'
 '...no podía trabajar más horas?'
 '...podía empezar a trabajarlas en dos semanas a más tardar?'
 '...podía trabajarlas esa semana? ' '...no podía trabajar más horas? '
 '...podía empezar a trabajarlas en dos semanas a más tardar? ']
Unique values for column itf: [     368      440     2130     1040      750     1470     2070     5755
     1700     2700     3000      360     3620      622      340     1120
     4700     1000     1600     1300     1520      540     2400      800
     1170      850     2650     3500      900      100     1150     2350
     5900     1588      425     1100     4165     2100      700      600
      400     1050     1210     1051     1430      682     2500      500
     2300      150     5700     1800      300     1070     1500     5400
      823     1484     3502      450      670      975     1900     1160
     2040     6310     1709      610     2330      650     1400      230
     1442      860      605     1110     1060     1200     1680      215
     2800     1310      660      520     2880     3390      255      302
      482     5100     2544     2600     2000      980      620      830
      609      380     1402      480     2050      550     4500     4980
     1026      950      435     1630      350       50      720     2200
     1650     5762      507      940     1420     4000     1410     1055
     6000     2250      490     1392     2220     3800     2802     3900
      690      200      220      760      551      541     4380      410
     1231     1740     4600     2555     1660      629      375     4109
     1025      198     1450     2230      752      710      840      505
      630     3250     3300     1280    19200      426     2345      640
      618     2440     1840     1662     1350      430     3400     3868
    12300     5000     1080     2150     1850     1020     1259     1729
      702     1820     5600     1220      870     2490     1550      675
      460     5340     1670      810     1078     3040      680      820
     1750      470     3600     1464     2140      586     1302     2102
     1530      240     1065     3475      908      924     1102     1436
     1130     1848     3450   290000        0  1900000    67500   800000
   920000   900000   370000   650000   220000   680000   700000   741000
   215000   724000   226400  9545000   300000   500000   490000   550000
   470000   467500   275000  1300000  2200000   380000   620000   180000
   230000 10400000   600000   554000  1570000   320000   168000  1000000
   850000   473000   174000   515000  1350000   410000   430000   460000
   310000   423000   776000   360000   377000    30000   560000   400000
   200000   105000  1200000   245000   210000  2000000  3395000   848000
   190000   158000    70000   796000   480000   252000   980000   570000
   205000   416000   484300  2800000   110000  1050000  2650000   267000
   457500   270000   820000    10500   130000   212000   615500   750000
   660000   885000   423200   146000  3000000   615000   579500  1660000
   580000   790000   530000  1410000   315000   160000   566000   445000
   151000   404000   345000  1411000   363000  2180000   250000   660500
  1280000   375000   450000   169000   260000   354000   265000   419000
   330000   157000   357000   240000   620900    50000   333000   667000
  1750000  1060000    32000  4800000   868000  1620000   975000   890000
   100000   150000   768000   325000  1103000   340000   222000   524000
  7800000   545000  1600000   656000    95000  1380000  2570000   361000
   512000   720000  1500000   348000   258000  1100000  2360000  1070000
   810000   312000   396500   412500  1320000   488000   390000   128000
   308000   670000  1420000   730000   713000   540000   255000   350000
   135000   232000    20000  1800000   585000   527000   140000   120000
   396000   630000   760000   467000  1014000   394000   685000  4700000
  4300000   950000  1051000   175000   280000  1775000   234000    80000
   485000   605000   687000   417000   612000   525000    90000  2420000
    43000   877000  1450000   984000  1250000   835000   990000   173000
  1290000   115287  1625000  1213000  1400000   725000   288000  3635000
   746000  4100000   886500   732000  1091000   408000   242000  1220000
  1850000   830000   601000  1160000  3400000  1010000   115000   940000
  1111000   307000   384000   616000   415000   398000   917000   358000
   498000   861000  1798000   314000   420000  1412500   465000   137000
   626000   646500   671300   625000   321000  2550000   342000  1630000
   520000   235000   635000   930000   666000   262000   231000   155000
   164000   516000  2100000  1318000  1810000  1584000   770000  1833000
   207000   435000  1125000   657000   216000  1560700  1045000   184000
  1262000   254000   970000   238000   268500   802500   204000   185000
   154000  3800000  1080000   608000   462000  1580000   910000  1210500
   482000   740000   261000   305000 15500000   346000   311634  2025000
  1056000   672000   395000   144000   209000   769000   649000   492000
  1650000   206000  1680000  1180000   533000   416300  1090000   343000
   487000   166000   401000   402000   440200   972000  1720000  2400000
  2135000  1215000   162000   266000    60000   675000   957000  2250000
   138000   386000   432000    15000   259000   440000  1828000  1490000
   125000   134000   610000   447500    10000   785000  1700000  1634000
   127000  1128000   665500   456000  2500000   243000  2750000   537000
   769500   364000   159000   145000  1205000   227500   425000   123000
   371000  1975000    27000   171000   526000  2300000   808000   388000
  3450000   237000   455000   405000  3030000   596000   503000  3700000
  1560000   172000   427026   539000   457000   286000   282000  7500000
   210250    73000   365000   590000    85000   170000   505000   338000
   542000   895000   366000   108000    98000   133000   537200   690000
   935000   710000  2799000   817000   636000   136000   382000   213000
   317000  7980000  1790000   495000   208000   170120  1047250    82000
  1075000   565000  1859000   412000   972500   301000   179000  1428000
    83000  1564000   202000   227000  1770000   677820  3580000  1033000
   316500   381000   960000  2320000   688000   815000   655000   686000
   117000  1072000   856000  1095000 11750000   886000   302000   507000
   294000   961000   443000   756000   352000  2050000   978000   517000
  9820000  2950000  1685000  1425000   328000  1150000  1260000   285000
   284000   484000   780000  2468000  1251000   368000  1575000   840000
   623000  2289000   535000   595000   289000 33937000   870000  2710000
   294500   287500   307500  1460000  5070000   718000  1140000  1550000
   277000   433000   279000   141000  1087000  1253000  1240000   219000
   152000   322500  1005000   475000   436000   502000   359000   167000
   293000   336000   611000   945000   513000   376000   532000    40000
   326000  1062500  3575000   357500   156000   876000  1120000  1995000
   272000  1310000   195000   446000  3995000   510000  1311000  1317000
   229000    93000  1020000   247500   745000   707000  1170000   392000
  1245000   118000   674000   449322  1345000   378000   186000   715000
   303000   225000  1370000   795000   759000  1130000  1275000   414000
   705000   598000   391000   633000   189700    14700  2600000   640000
   880000   558000   347000  1395000  2253000  1152900   146900  3220000
   112000   316000     8500   794000  1071000   458000   188000   295000
  1300700   248000   339000]
Unique values for column ipcf: [     368      440      532      208      150      735     1035     1438
      566      900     3000      180     3620      311       68      280
      940      250     1600      325      506      540     2400      400
      390      425     1325      433      875     1000       50      575
     1150     1175     2950      266      529      391      550      520
      420      350      200      262      302      525      715      170
      625      500       75     2850     1800      100      783      267
      125     1700      750      300      233      823      247     1167
      450      670      975     1900      232      680     1577      569
      610     1165      700      162      466      230     1442      860
      605      555      530      270      560       71     2800      327
      660      104     1440      678      533      255      600     2100
      151      241     1050     1040       64      366     1200     1275
      636      333      866      326      310     1400      830      609
      183      380     2500      120      292      137     4500     2490
     1026      475      217      815       25      360      650      253
      134     1100      355     2000     1300      352     1055      800
     1125      490      464      370       70     1266      950     3900
      115       66      220      190      166      541     1095      240
       45      163     1500      205      870     2300     2555      553
      629      375      821      512      160      725      330      557
      850      470      752      460      480      236      168      252
      315     1083      825      320      287     4800      426     1172
      175      640      309      488      831      275     1350      353
      430     1934      316     4100      173     1666      925      510
      140      812      910     1120      733      406     1245      775
      675     1335      126      556      405     1078      760      340
      273      157      713      586     1750      225     2102       57
     1737      908      231      551     1436      565      616   290000
        0   950000    67500   800000   460000   900000    61666   162500
   220000   170000   175000   247000    53750   144800    75466  2386250
    60000   500000   163333   183333   235000   155833   137500   325000
   633333  1100000   380000   206666   115000  1733333   600000   400000
   110800   314000   320000   168000   850000   236500    58000   171666
   300000   250000  1350000   136666   143333   153333    62000    60428
   258666   360000    94250   150000    30000    80000    66666   180000
   283333   105000   200000   100000   245000   210000   679000   126666
   212000   700000   190000   230000   158000   450000    70000   398000
   240000    63000   570000    44000   102500   104000   121075    55000
   310000   350000   441666    66750  1000000   228750   135000   410000
    10500   160000    65000    68750   205166   330000   147500   155000
   211600   146000   307500   144875   276666   233333   395000   265000
   470000   157500   283000   326666    90000   111250    75500   202000
   345000   352750   121000    74000   545000    34166   110083    75000
    93750   120000    24142   260000    88500   419000   157000   650000
    89250   124180    12500   333000   333500   583333   353333    16000
  1200000   434000  1620000   487500   222500   550000    50000   256000
   183833   222000   262000  1950000   110000   490000   266666   333333
   133333   218666  1050000   185000    47500  1285000   361000   512000
   174000    64500  1180000  1070000   270000    78000   132166   206250
   660000   488000   195000    25600   102666   670000   473333  1500000
   365000   118833   255000   116000    10000   750000   292500   131750
   140000   198000   233500  1014000   197000   225000   171250     6666
  1175000  1075000   475000   124000   525500    83333   280000   443750
   117000    26666   161666   480000   187500   151250   535000   171750
   139000   306000   130000   131250   275000   605000    10750   216666
    73083   337500   362500    89454   223333   625000   810000   167000
   495000    86500   258000    38429   541666   606500    96000   908750
   373000  2050000   126642   183000   136375    81600    40000    60500
   610000   462500  3000000   300500   580000  1133333   336666    38333
    89000   533333   116666    33333   940000   370333    25000    79000
    52000   307000   192000   176666   308000   415000    79600    22500
   229250   262500   358000   249000   172200   899000   125000   420000
  1800000   470833   232500   137000   313000   129300   134260    53333
   242000   160500   637500    85500   543333   317500   930000   131000
    57750    86666   113333    82000    86000   659000   603333   792000
   770000  1833000    69000   108750   562500   657000   108000   780350
  1045000   184000   306666  1262000    25400   242500   119000   268500
   267500    99000   204000   430000   640000    77000  1900000   202666
   231000   303333   605250   241000   246666   241666   261000   101666
  7750000   346000   311634   390000  1012500    54000   211200   134400
    98750    48000    69666   118571   256333   216333  1300000   123000
   433333   244000   825000   206000   560000   177666   104075   171500
   243500    83000   145000   100250   201000   220100    73000   324000
   573333   366666   533750   607500   520000   540000    40500    33250
   263333   675000   957000   760000   156666   425000  2250000   138000
   193000   216000   416666     5000   152500    86333   146666   365600
   496666    68000    41666    33500   447500   107500   566666   205000
   344000   544666    21166    97500   282000   332750   152000  1250000
    81000  2750000    78333    91000   192500    79500   106666   401666
   227500   141666    61500   185500    73333    57000   526000  1150000
   404000   129333   590000   212500   215000    87500   118500    46666
    75833   202500  1010000    85142   503000  1850000   780000   217500
    85000   445000   213513   134750   114250    71500    94000  2500000
   210250   173000   166666    28333   126250    42500    16666    62500
   169000   135500   114000   298333    93333   366000    27000    32666
   268600   466666   165000   172500   187000   384000    77500   177500
   933000   173333   204250   127200   191000   483333   213000   105666
  1995000   129000  1790000   370000   525000   247500   200500    69333
   276000    85060   485000   523625   537500   188333   929500    57500
   324166   301000   179000   357000   312800    40400   227000   885000
   225940   720000   516500   176000    79333    79125    77600   203333
   190500   355000    89500    58333    63333   773333   114666   271666
   163750   343000    29250   536000   214000   136000   547500  1090000
  5875000   443000  1125000   197500   151000    87333   147000   320333
   110750   756000    70400   683333   489000   258500  4910000  1475000
    34800   337000   328000   575000   252000   238000    40714    88333
   284000   161333  1234000   312750   122666   787500   113500   311500
   572250   297500   352500    51600    15000   117500   144500 11312333
    61250   102222   435000   103125   103500  1355000    98166   132500
   143750    55555   208333   359000   148333   516666    92333   401000
   108250   375000    93000   141000   362333   626500   620000    54750
    80625   335000   109000   125500   179500    41750   112000   293000
   137333   133500   152750   236250   196666   256500   392500   188000
    95000   530000   123333   532000   315000     8000    81500   531250
   510714   357500   156000   438000    43000   332500   103000   119333
     7500    48333   138333   655000   108333   733333   446000   141428
  1331666   407500   630000   655500    72500   439000   229000    31000
   510000    84500   305000   198250   186250   870000   707000   196000
   117333   311250    77333    23600    84250   224661   448333   378000
    79200   119666   178750    60600   456666   257500   340000   585000
   253000  1130000   228000  1275000   207000   705000    72000   199333
    97750   158250   910000   189700     3675   866666   293333   186000
    27500   347000    41000   455000   117142   272500   465000   237500
   751000   230580   122500    48966   805000   133400    56000    63200
   376666     4250   132333   172333   143000   535500   152666    47000
   106000   108666   144522   316500    90250   248000   133750   980000
    84750   740000]
Unique values for column pondera: [1299 1486 1674 ...  553  807 1497]
Unique values for column decifr: [ 2  3  9  7  5  8 10  4  6  1 12  0]
Unique values for column deccfr: [ 7  8  4  3  9 10  6  1  5  2 12  0]
Unique values for column ix_tot: [ 1  4  5  2  3  6  8  7  9 10 12 11]
Unique values for column ix_men10: [0. 1. 2. 4. 3. 6.]
Unique values for column iv1: ['Departamento' 'Casa' 'Pieza de inquilinato' 'Pieza en hotel/pensión'
 'Otros' 'Local no construido para habitación']
Unique values for column mas_500: ['Conjunto de aglomerados de 500.000 y más habitantes']
Unique values for column region: ['Gran Buenos Aires']
Unique values for column aglomerado: ['Ciudad de Buenos Aires' 'Partidos del GBA']
Unique values for column es_ocupado: [0 1]
Unique values for column ingreso_ocupados: [       0      532      208      150      735     1438      566      900
     3000     3620      280      940      250      325      506      540
     2400      400      425     1325      433      875     1000       50
     1175     2950      266      529      391      550      520      420
      200      262      302      525      715      170      625     2850
     1800      100      783      267      125     1700      750      300
      233      247     1167      975      232      680     1577      569
      466     1442      500      555      560       71     2800      327
      350      104      678      533      255      600     2100      151
       64      366     1200     1275      636      333      866      326
      310     1400      830      183     2500      120      292      137
     2490      815     1440      253      134     1100      355     1300
      352      390     1055      800     1125      464      370     1266

In [42]:
# Rellenar valores faltantes en variables numéricas con la mediana
columnas_numericas = df_selec.select_dtypes(include=['float64', 'int64']).columns
df_selec[columnas_numericas] = df_selec[columnas_numericas].fillna(df_selec[columnas_numericas].median())

# Rellenar valores faltantes en variables categóricas con la moda
columnas_categoricas = df_selec.select_dtypes(include=['object']).columns
df_selec[columnas_categoricas] = df_selec[columnas_categoricas].apply(lambda col: col.fillna(col.mode()[0]))

# Mostrar las primeras filas del DataFrame actualizado
df_selec.head()

c:\Program Files\PsychoPy\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,codusu,nro_hogar,ano4,ch04,ch06,ch07,nivel_ed,estado,cat_ocup,pp10a,...,ipcf,pondera,decifr,deccfr,ix_tot,ix_men10,iv1,mas_500,region,aglomerado
0,125098,1,2004,Varón,79,Viudo,Secundaria Incompleta,Inactivo,Ns./Nr.,Ns./Nr.,...,368,1299,2,7,1,0.0,Departamento,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Ciudad de Buenos Aires
1,125397,1,2004,Mujer,67,Separado o divorciado,Primaria Completa,Ocupado,Cuenta propia,Ns./Nr.,...,0,2018,,,1,0.0,Departamento,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Ciudad de Buenos Aires
2,125515,1,2004,Mujer,74,Viudo,Primaria Completa,Inactivo,Ns./Nr.,Ns./Nr.,...,440,1486,3,7,1,0.0,Departamento,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Ciudad de Buenos Aires
3,125558,1,2004,Varón,54,Casado,Primaria Completa,Ocupado,Cuenta propia,Ns./Nr.,...,532,1674,9,8,4,0.0,Departamento,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Ciudad de Buenos Aires
4,125558,1,2004,Mujer,51,Casado,Superior Universitaria Completa,Inactivo,Ns./Nr.,Ns./Nr.,...,532,1674,9,8,4,0.0,Departamento,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Ciudad de Buenos Aires

In [43]:
# Lista de columnas que deberían contener nombres (cadenas)
columnas_de_nombres = ['ch04', 'ch07', 'nivel_ed', 'estado', 'cat_ocup', 'region', 'mas500', 'aglomerado',
                       'pp10a', 'pp10c', 'pp10e', 'pp03i', 'pp03h', 'iv1']

# Lista de columnas que deberían contener solo números
columnas_de_numeros = ['ano4', 'ch06', 'pp03d', 'itf', 'ipcf', 'pondera',
                       'decifr', 'deccfr', 'ix_tot', 'ix_men10']
# Filtrar valores numéricos en columnas de nombres
valores_numericos_en_columnas_de_nombres = {}
for col in columnas_de_nombres:
    if col in df_selec.columns:  # Asegurarse de que la columna exista
        valores_numericos = df_selec[col][df_selec[col].apply(lambda x: isinstance(x, (int, float)) and not pd.isna(x))]
        if not valores_numericos.empty:
            valores_numericos_en_columnas_de_nombres[col] = valores_numericos

# Filtrar valores de nombres en columnas numéricas
valores_de_nombres_en_columnas_numericas = {}
for col in columnas_de_numeros:
    if col in df_selec.columns:  # Asegurarse de que la columna exista
        valores_de_nombres = df_selec[col][df_selec[col].apply(lambda x: isinstance(x, str) and not pd.isna(x))]
        if not valores_de_nombres.empty:
            valores_de_nombres_en_columnas_numericas[col] = valores_de_nombres

# Mostrar los resultados
print("Valores numéricos en columnas de nombres:")
for col, valores in valores_numericos_en_columnas_de_nombres.items():
    print(f"\nColumna: {col}")
    print(valores)

print("\nValores de nombres en columnas numéricas:")
for col, valores in valores_de_nombres_en_columnas_numericas.items():
    print(f"\nColumna: {col}")
    print(valores)

# Eliminar valores numéricos de columnas que deberían contener nombres
for col, valores in valores_numericos_en_columnas_de_nombres.items():
    if col in df_selec.columns:
        # Filtrar las filas eliminando los valores numéricos detectados
        df_selec = df_selec[~df_selec[col].isin(valores)]

# Eliminar valores de nombres de columnas que deberían contener números
for col, valores in valores_de_nombres_en_columnas_numericas.items():
    if col in df_selec.columns:
        # Filtrar las filas eliminando los valores de nombres detectados
        df_selec = df_selec[~df_selec[col].isin(valores)]

# Mostrar el DataFrame actualizado después de eliminar los valores incorrectos
print("DataFrame actualizado después de eliminar valores incorrectos:")
print(df_selec.head())

Valores numéricos en columnas de nombres:

Columna: ch07
2287    9
2288    9
3351    9
3352    9
3633    9
3634    9
3635    9
3636    9
5065    9
5068    9
5069    9
5070    9
7401    9
Name: ch07, dtype: object

Columna: pp10e
2315    9
Name: pp10e, dtype: object

Valores de nombres en columnas numéricas:

Columna: ch06
106     Menos de 1 año
196     Menos de 1 año
240     Menos de 1 año
260     Menos de 1 año
332     Menos de 1 año
376     Menos de 1 año
395     Menos de 1 año
432     Menos de 1 año
589     Menos de 1 año
624     Menos de 1 año
628     Menos de 1 año
646     Menos de 1 año
698     Menos de 1 año
712     Menos de 1 año
751     Menos de 1 año
5598                -1
5724                -1
5837                -1
5935                -1
6102                -1
6103                -1
6107                -1
6234                -1
6559                -1
6651                -1
6927                -1
6958                -1
7213                -1
7250                -1
7284                -1
7485                -1
7592                -1
7845                -1
7922                -1
7948                -1
7980                -1
8170                -1
Name: ch06, dtype: object

Columna: decifr
1
401
402
739
1101
Name: decifr, dtype: object

Columna: deccfr
1
401
402
739
1101
Name: deccfr, dtype: object
DataFrame actualizado después de eliminar valores incorrectos:
     codusu  nro_hogar  ano4   ch04 ch06     ch07  \
0  125098            1  2004  Varón   79    Viudo
2  125515            1  2004  Mujer   74    Viudo
3  125558            1  2004  Varón   54   Casado
4  125558            1  2004  Mujer   51   Casado
5  125558            1  2004  Mujer   25  Soltero

                            nivel_ed    estado       cat_ocup    pp10a  ...  \
0              Secundaria Incompleta  Inactivo        Ns./Nr.  Ns./Nr.  ...
2                  Primaria Completa  Inactivo        Ns./Nr.  Ns./Nr.  ...
3                  Primaria Completa   Ocupado  Cuenta propia  Ns./Nr.  ...
4    Superior Universitaria Completa  Inactivo        Ns./Nr.  Ns./Nr.  ...
5  Superior Universitaria Incompleta   Ocupado  Cuenta propia  Ns./Nr.  ...

  ipcf pondera decifr  deccfr ix_tot  ix_men10           iv1  \
0  368    1299      2       7      1       0.0  Departamento
2  440    1486      3       7      1       0.0  Departamento
3  532    1674      9       8      4       0.0  Departamento
4  532    1674      9       8      4       0.0  Departamento
5  532    1674      9       8      4       0.0  Departamento

                                             mas_500             region  \
0  Conjunto de aglomerados de 500.000 y más habit...  Gran Buenos Aires
2  Conjunto de aglomerados de 500.000 y más habit...  Gran Buenos Aires
3  Conjunto de aglomerados de 500.000 y más habit...  Gran Buenos Aires
4  Conjunto de aglomerados de 500.000 y más habit...  Gran Buenos Aires
5  Conjunto de aglomerados de 500.000 y más habit...  Gran Buenos Aires

               aglomerado
0  Ciudad de Buenos Aires
2  Ciudad de Buenos Aires
3  Ciudad de Buenos Aires
4  Ciudad de Buenos Aires
5  Ciudad de Buenos Aires

[5 rows x 26 columns]

In [44]:
for column in df_selec.columns:
    unique_values = df_selec[column].unique()
    print(f"Unique values for column {column}: {unique_values}")

#chequeamos que se eliminaron efectivamente los datos incorrectos

Unique values for column codusu: ['125098  ' '125515  ' '125558  ' ... 'TQRMNOQQWHKMOQCDEIJAH00861732'
 'TQRMNOSXRHKMNMCDEIJAH00861733' 'TQRMNORRQHMORPCDEIJAH00802469']
Unique values for column nro_hogar: [ 1  2 51  3]
Unique values for column ano4: [2004 2024]
Unique values for column ch04: ['Varón' 'Mujer']
Unique values for column ch06: [79 74 54 51 25 20 55 48 17 15 77 50 49 26 22 18 86 62 76 45 41 21 31 19
 52 12 32 29 64 10 47 43 13 3 46 78 60 59 37 44 30 63 71 67 87 34 14 24 28
 27 69 56 33 66 61 1 92 65 57 23 4 40 16 9 83 6 38 75 11 53 73 39 35 7 5
 36 8 82 85 72 70 89 42 2 58 68 81 80 93 96 84 88 95 -1 90 91 94 97]
Unique values for column ch07: ['Viudo' 'Casado' 'Soltero' 'Unido' 'Separado o divorciado']
Unique values for column nivel_ed: ['Secundaria Incompleta' 'Primaria Completa'
 'Superior Universitaria Completa' 'Superior Universitaria Incompleta'
 'Secundaria Completa' 'Primaria Incompleta (incluye educación especial)'
 'Sin instrucción']
Unique values for column estado: ['Inactivo' 'Ocupado' 'Desocupado' 'Menor de 10 años'
 'Entrevista individual no realizada (no respuesta al Cuestionario Individual)']
Unique values for column cat_ocup: ['Ns./Nr.' 'Cuenta propia' 'Trabajador familiar sin remuneración'
 'Obrero o empleado' 'Patrón']
Unique values for column pp10a: ['Ns./Nr.' '...más de 1 año?' '...más de 6 a 12 meses?'
 '...de 1 a 3 meses?' '...más de 3 a 6 meses?' '...menos de 1 mes?'
 '...de 1 a 3 meses? ' '...menos de 1 mes? ' ' ...más de 6 a 12 meses? ']
Unique values for column pp10c: ['Ns./Nr.' 'No' 'Sí']
Unique values for column pp10e: ['Ns./Nr.' '...más de 3 años?' '...más de 1 a 3 años?'
 '...más de 3 a 6 meses?' '...de 1 a 3 meses?' '...menos de 1 mes?'
 '...más de 6 a 12 meses?' '...de 1 a 3 meses? ' '...menos de 1 mes? '
 ' ...más de 6 a 12 meses? ']
Unique values for column pp03i: ['Ns./Nr.' 'No' 'Sí']
Unique values for column pp03d: [0. 2. 3. 4. 1. 5. 9. 6.]
Unique values for column pp03h: ['Ns./Nr.' '...podía trabajarlas esa semana?'
 '...no podía trabajar más horas?'
 '...podía empezar a trabajarlas en dos semanas a más tardar?'
 '...podía trabajarlas esa semana? ' '...no podía trabajar más horas? '
 '...podía empezar a trabajarlas en dos semanas a más tardar? ']
Unique values for column itf: [     368      440     2130     1040      750     1470     2070     5755
     1700     2700     3000      360     3620      622      340     1120
     4700     1000     1600     1300     1520      540     2400      800
     1170      850     2650     3500      900      100     1150     2350
     5900     1588      425     1100     4165     2100      700      600
      400     1050     1210     1051     1430      682     2500      500
     2300      150     5700     1800      300     1070     1500     5400
      823     1484     3502      450      670      975     1900     1160
     2040     6310     1709      610     2330      650     1400      230
     1442      860      605     1110     1060     1200     1680      215
     2800     1310      660      520     2880     3390      255      302
      482     5100     2544     2600     2000      980      620      830
      609      380     1402      480     2050      550     4500     4980
     1026      950      435     1630      350       50      720     2200
     1650     5762      507      940     1420     4000     1410     1055
     6000     2250      490     1392     2220     3800     2802     3900
      690      200      220      760      551      541     4380      410
     1231     1740     4600     2555     1660      629      375     4109
     1025      198     1450     2230      752      710      840      505
      630     3250     3300     1280    19200      426     2345      640
      618     2440     1840     1662     1350      430     3400     3868
    12300     5000     1080     2150     1850     1020     1259     1729
      702     1820     5600     1220      870     2490     1550      675
      460     5340     1670      810     1078     3040      680      820
     1750      470     3600     1464     2140      586     1302     2102
     1530      240     1065     3475      908      924     1102     1436
     1130     1848     3450   290000        0  1900000    67500   800000
   920000   900000   370000   650000   220000   680000   700000   741000
   215000   724000   226400  9545000   300000   500000   490000   550000
   470000   467500   275000  1300000  2200000   380000   620000   180000
   230000 10400000   600000   554000  1570000   320000   168000  1000000
   850000   473000   174000   515000  1350000   410000   430000   460000
   310000   423000   776000   360000   377000    30000   560000   400000
   200000   105000  1200000   245000   210000  2000000  3395000   848000
   190000   158000    70000   796000   480000   252000   980000   570000
   205000   416000   484300  2800000   110000  1050000  2650000   267000
   457500   270000   820000    10500   130000   212000   615500   750000
   660000   885000   423200   146000  3000000   615000   579500  1660000
   580000   790000   530000  1410000   315000   160000   566000   445000
   151000   404000   345000  1411000   363000  2180000   250000   660500
  1280000   375000   450000   169000   260000   354000   265000   419000
   330000   157000   357000   240000   620900    50000   333000   667000
  1750000  1060000    32000  4800000   868000  1620000   975000   890000
   100000   150000   768000   325000  1103000   340000   222000   524000
  7800000   545000  1600000   656000    95000  1380000  2570000   361000
   512000   720000  1500000   348000   258000  1100000  2360000  1070000
   810000   312000   396500   412500  1320000   488000   390000   128000
   308000   670000  1420000   730000   713000   540000   255000   350000
   135000   232000    20000  1800000   585000   527000   140000   120000
   396000   630000   760000   467000  1014000   394000   685000  4700000
  4300000   950000  1051000   175000   280000  1775000   234000    80000
   485000   605000   687000   417000   612000   525000    90000  2420000
    43000   877000  1450000   984000  1250000   835000   990000   173000
  1290000   115287  1625000  1213000  1400000   725000   288000  3635000
   746000  4100000   886500   732000  1091000   408000   242000  1220000
  1850000   830000   601000  1160000  3400000  1010000   115000   940000
  1111000   307000   384000   616000   415000   398000   917000   358000
   498000   861000  1798000   314000   420000  1412500   465000   137000
   626000   646500   671300   625000   321000  2550000   342000  1630000
   520000   235000   635000   930000   666000   262000   231000   155000
   164000   516000  2100000  1318000  1810000  1584000   770000  1833000
   207000   435000  1125000   657000   216000  1560700  1045000   184000
  1262000   254000   970000   238000   268500   802500   204000   185000
   154000  3800000  1080000   608000   462000  1580000   910000  1210500
   482000   740000   261000   305000 15500000   346000   311634  2025000
  1056000   672000   395000   144000   209000   769000   649000   492000
  1650000   206000  1680000  1180000   533000   416300  1090000   343000
   487000   166000   401000   402000   440200   972000  1720000  2400000
  2135000  1215000   162000   266000    60000   675000   957000  2250000
   138000   386000   432000    15000   259000   440000  1828000  1490000
   125000   134000   610000   447500    10000   785000  1700000  1634000
   127000  1128000   665500   456000  2500000   243000  2750000   537000
   769500   364000   159000   145000  1205000   227500   425000   123000
   371000  1975000    27000   171000   526000  2300000   808000   388000
  3450000   237000   455000   405000  3030000   596000   503000  3700000
  1560000   172000   427026   539000   457000   286000   282000  7500000
   210250    73000   365000   590000    85000   170000   505000   338000
   542000   895000   366000   108000    98000   133000   537200   690000
   935000   710000  2799000   817000   636000   136000   382000   213000
   317000  7980000  1790000   495000   208000   170120  1047250    82000
  1075000   565000  1859000   412000   972500   301000   179000  1428000
    83000  1564000   202000   227000  1770000   677820  3580000  1033000
   316500   381000   960000  2320000   688000   815000   655000   686000
   117000  1072000   856000  1095000 11750000   886000   302000   507000
   294000   961000   443000   756000   352000  2050000   978000   517000
  9820000  2950000  1685000  1425000   328000  1150000  1260000   285000
   284000   484000   780000  2468000  1251000   368000  1575000   840000
   623000  2289000   535000   595000   289000 33937000   870000  2710000
   294500   287500   307500  1460000  5070000   718000  1140000  1550000
   277000   433000   279000   141000  1087000  1253000  1240000   219000
   152000   322500  1005000   475000   436000   502000   359000   167000
   293000   336000   611000   945000   513000   376000   532000    40000
   326000  1062500  3575000   357500   156000   876000  1120000  1995000
   272000  1310000   195000   446000  3995000   510000  1311000  1317000
   229000    93000  1020000   247500   745000   707000  1170000   392000
  1245000   118000   674000   449322  1345000   378000   186000   715000
   303000   225000  1370000   795000   759000  1130000  1275000   414000
   705000   598000   391000   633000   189700    14700  2600000   640000
   880000   558000   347000  1395000  2253000  1152900   146900  3220000
   112000   316000     8500   794000  1071000   458000   188000   295000
  1300700   248000   339000]
Unique values for column ipcf: [     368      440      532      208      150      735     1035     1438
      566      900     3000      180     3620      311       68      280
      940      250     1600      325      506      540     2400      400
      390      425     1325      433      875     1000       50      575
     1150     1175     2950      266      529      391      550      520
      420      350      200      262      302      525      715      170
      625      500       75     2850     1800      100      783      267
      125     1700      750      300      233      823      247     1167
      450      670      975     1900      232      680     1577      569
      610     1165      700      162      466      230     1442      860
      605      555      530      270      560       71     2800      327
      660      104     1440      678      533      255      600     2100
      151      241     1050     1040       64      366     1200     1275
      636      333      866      326      310     1400      830      609
      183      380     2500      120      292      137     4500     2490
     1026      475      217      815       25      360      650      253
      134     1100      355     2000     1300      352     1055      800
     1125      490      464      370       70     1266      950     3900
      115       66      220      190      166      541     1095      240
       45      163     1500      205      870     2300     2555      553
      629      375      821      512      160      725      330      557
      850      470      752      460      480      236      168      252
      315     1083      825      320      287     4800      426     1172
      175      640      309      488      831      275     1350      353
      430     1934      316     4100      173     1666      925      510
      140      812      910     1120      733      406     1245      775
      675     1335      126      556      405     1078      760      340
      273      157      713      586     1750      225     2102       57
     1737      908      231      551     1436      565      616   290000
        0   950000    67500   800000   460000   900000    61666   162500
   220000   170000   175000   247000    53750   144800    75466  2386250
    60000   500000   163333   183333   235000   155833   137500   325000
   633333  1100000   380000   206666   115000  1733333   600000   400000
   110800   314000   320000   168000   850000   236500    58000   171666
   300000   250000  1350000   136666   143333   153333    62000    60428
   258666   360000    94250   150000    30000    80000    66666   180000
   283333   105000   200000   100000   245000   210000   679000   126666
   212000   700000   190000   230000   158000   450000    70000   398000
   240000    63000   570000    44000   102500   104000   121075    55000
   310000   350000   441666    66750  1000000   228750   135000   410000
    10500   160000    65000    68750   205166   330000   147500   155000
   211600   146000   307500   144875   276666   233333   395000   265000
   470000   157500   283000   326666    90000   111250    75500   202000
   345000   352750   121000    74000   545000    34166   110083    75000
    93750   120000    24142   260000    88500   419000   157000   650000
    89250   124180    12500   333000   333500   583333   353333    16000
  1200000   434000  1620000   487500   222500   550000    50000   256000
   183833   222000   262000  1950000   110000   490000   266666   333333
   133333   218666  1050000   185000    47500  1285000   361000   512000
   174000    64500  1180000  1070000   270000    78000   132166   206250
   660000   488000   195000    25600   102666   670000   473333  1500000
   365000   118833   255000   116000    10000   750000   292500   131750
   140000   198000   233500  1014000   197000   225000   171250     6666
  1175000  1075000   475000   124000   525500    83333   280000   443750
   117000    26666   161666   480000   187500   151250   535000   171750
   139000   306000   130000   131250   275000   605000    10750   216666
    73083   337500   362500    89454   223333   625000   810000   167000
   495000    86500   258000    38429   541666   606500    96000   908750
   373000  2050000   126642   183000   136375    81600    40000    60500
   610000   462500  3000000   300500   580000  1133333   336666    38333
    89000   533333   116666    33333   940000   370333    25000    79000
    52000   307000   192000   176666   308000   415000    79600    22500
   229250   262500   358000   249000   172200   899000   125000   420000
  1800000   470833   232500   137000   313000   129300   134260    53333
   242000   160500   637500    85500   543333   317500   930000   131000
    57750    86666   113333    82000    86000   659000   603333   792000
   770000  1833000    69000   108750   562500   657000   108000   780350
  1045000   184000   306666  1262000    25400   242500   119000   268500
   267500    99000   204000   430000   640000    77000  1900000   202666
   231000   303333   605250   241000   246666   241666   261000   101666
  7750000   346000   311634   390000  1012500    54000   211200   134400
    98750    48000    69666   118571   256333   216333  1300000   123000
   433333   244000   825000   206000   560000   177666   104075   171500
   243500    83000   145000   100250   201000   220100    73000   324000
   573333   366666   533750   607500   520000   540000    40500    33250
   263333   675000   957000   760000   156666   425000  2250000   138000
   193000   216000   416666     5000   152500    86333   146666   365600
   496666    68000    41666    33500   447500   107500   566666   205000
   344000   544666    21166    97500   282000   332750   152000  1250000
    81000  2750000    78333    91000   192500    79500   106666   401666
   227500   141666    61500   185500    73333    57000   526000  1150000
   404000   129333   590000   212500   215000    87500   118500    46666
    75833   202500  1010000    85142   503000  1850000   780000   217500
    85000   445000   213513   134750   114250    71500    94000  2500000
   210250   173000   166666    28333   126250    42500    16666    62500
   169000   135500   114000   298333    93333   366000    27000    32666
   268600   466666   165000   172500   187000   384000    77500   177500
   933000   173333   204250   127200   191000   483333   213000   105666
  1995000   129000  1790000   370000   525000   247500   200500    69333
   276000    85060   485000   523625   537500   188333   929500    57500
   324166   301000   179000   357000   312800    40400   227000   885000
   225940   720000   516500   176000    79333    79125    77600   203333
   190500   355000    89500    58333    63333   773333   114666   271666
   163750   343000    29250   536000   214000   136000   547500  1090000
  5875000   443000  1125000   197500   151000    87333   147000   320333
   110750   756000    70400   683333   489000   258500  4910000  1475000
    34800   337000   328000   575000   252000   238000    40714    88333
   284000   161333  1234000   312750   122666   787500   113500   311500
   572250   297500   352500    51600    15000   117500   144500 11312333
    61250   102222   435000   103125   103500  1355000    98166   132500
   143750    55555   208333   359000   148333   516666    92333   401000
   108250   375000    93000   141000   362333   626500   620000    54750
    80625   335000   109000   125500   179500    41750   112000   293000
   137333   133500   152750   236250   196666   256500   392500   188000
    95000   530000   123333   532000   315000     8000    81500   531250
   510714   357500   156000   438000    43000   332500   103000   119333
     7500    48333   138333   655000   108333   733333   446000   141428
  1331666   407500   630000   655500    72500   439000   229000    31000
   510000    84500   305000   198250   186250   870000   707000   196000
   117333   311250    77333    23600    84250   224661   448333   378000
    79200   119666   178750    60600   456666   257500   340000   585000
   253000  1130000   228000  1275000   207000   705000    72000   199333
    97750   158250   910000   189700     3675   866666   293333   186000
    27500   347000    41000   455000   117142   272500   465000   237500
   751000   230580   122500    48966   805000   133400    56000    63200
   376666     4250   132333   172333   143000   535500   152666    47000
   106000   108666   144522   316500    90250   248000   133750   980000
    84750   740000]
Unique values for column pondera: [1299 1486 1674 ...  553  807 1497]
Unique values for column decifr: [2 3 9 7 5 8 10 4 6 1 12 0]
Unique values for column deccfr: [7 8 4 3 9 10 6 1 5 2 12 0]
Unique values for column ix_tot: [ 1  4  5  2  3  6  8  7  9 10 12 11]
Unique values for column ix_men10: [0. 1. 2. 4. 3. 6.]
Unique values for column iv1: ['Departamento' 'Casa' 'Pieza de inquilinato' 'Pieza en hotel/pensión'
 'Otros' 'Local no construido para habitación']
Unique values for column mas_500: ['Conjunto de aglomerados de 500.000 y más habitantes']
Unique values for column region: ['Gran Buenos Aires']
Unique values for column aglomerado: ['Ciudad de Buenos Aires' 'Partidos del GBA']

# Ejercicio 4

In [56]:
#1. Porcentaje de ingresos provenientes de personas ocupadas en el hogar
# Crear una columna binaria para identificar si el estado es 'Ocupado'
df_selec['es_ocupado'] = (df_selec['estado'] == 'Ocupado').astype(int)

# Calcular el ingreso total generado por personas ocupadas en el hogar
df_selec['ingreso_ocupados'] = df_selec['es_ocupado'] * df_selec['ipcf']  # IPCF = ingreso per cápita familiar

# Calcular el ingreso total del hogar
df_selec['ingreso_total_hogar'] = df_selec.groupby('nro_hogar')['ipcf'].transform('sum')

# Calcular el porcentaje de ingresos generados por personas ocupadas
df_selec['porcentaje_ingreso_ocupados'] = df_selec.groupby('nro_hogar')['ingreso_ocupados'].transform('sum') / df_selec['ingreso_total_hogar']

#2. Nivel educativo promedio del hogar
# Mapear niveles educativos a valores numéricos #lo hacemos de forma jerarquica, no como aparece en el diccionario
nivel_educativo_map = {
    'Sin instrucción': 0,
    'Primaria Incompleta (incluye educación especial)': 1,
    'Primaria Completa': 2,
    'Secundaria Incompleta': 3,
    'Secundaria Completa': 4,
    'Superior Universitaria Incompleta': 5,
    'Superior Universitaria Completa': 6,
    'Ns./Nr.': None
}

# Convertir a valores numéricos
df_selec['nivel_ed_num'] = df_selec['nivel_ed'].map(nivel_educativo_map)

# Calcular el nivel educativo promedio por hogar
df_selec['nivel_educativo_promedio'] = df_selec.groupby('nro_hogar')['nivel_ed_num'].transform('mean')

#3. Relacion entre edad y estado laboral
# Categorizar edades en grupos de riesgo
def categorizar_edad(edad):
    if edad < 18:
        return 'Menor de edad'
    elif 18 <= edad <= 24:
        return 'Joven'
    elif 25 <= edad <= 54:
        return 'Adulto'
    else:
        return 'Mayor'

df_selec['grupo_edad'] = df_selec['ch06'].apply(categorizar_edad)


#vemos como quedo df_selec
df_selec

,codusu,nro_hogar,ano4,ch04,ch06,ch07,nivel_ed,estado,cat_ocup,pp10a,...,mas_500,region,aglomerado,es_ocupado,ingreso_ocupados,ingreso_total_hogar,porcentaje_ingreso_ocupados,nivel_ed_num,nivel_educativo_promedio,grupo_edad
0,125098,1,2004,Varón,79,Viudo,Secundaria Incompleta,Inactivo,Ns./Nr.,Ns./Nr.,...,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Ciudad de Buenos Aires,0,0,1114083551,0.593583,3.0,3.421295,Mayor
2,125515,1,2004,Mujer,74,Viudo,Primaria Completa,Inactivo,Ns./Nr.,Ns./Nr.,...,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Ciudad de Buenos Aires,0,0,1114083551,0.593583,2.0,3.421295,Mayor
3,125558,1,2004,Varón,54,Casado,Primaria Completa,Ocupado,Cuenta propia,Ns./Nr.,...,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Ciudad de Buenos Aires,1,532,1114083551,0.593583,2.0,3.421295,Adulto
4,125558,1,2004,Mujer,51,Casado,Superior Universitaria Completa,Inactivo,Ns./Nr.,Ns./Nr.,...,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Ciudad de Buenos Aires,0,0,1114083551,0.593583,6.0,3.421295,Adulto
5,125558,1,2004,Mujer,25,Soltero,Superior Universitaria Incompleta,Ocupado,Cuenta propia,Ns./Nr.,...,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Ciudad de Buenos Aires,1,532,1114083551,0.593583,5.0,3.421295,Adulto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8187,TQRMNOQQWHKMOQCDEIJAH00861732,1,2024,Varón,32,Soltero,Secundaria Completa,Ocupado,Obrero o empleado,Ns./Nr.,...,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Partidos del GBA,1,0,1114083551,0.593583,4.0,3.421295,Adulto
8188,TQRMNOSXRHKMNMCDEIJAH00861733,1,2024,Varón,24,Soltero,Superior Universitaria Incompleta,Ocupado,Obrero o empleado,Ns./Nr.,...,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Partidos del GBA,1,740000,1114083551,0.593583,5.0,3.421295,Joven
8189,TQRMNORRQHMORPCDEIJAH00802469,1,2024,Varón,73,Casado,Primaria Completa,Inactivo,Ns./Nr.,Ns./Nr.,...,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Partidos del GBA,0,0,1114083551,0.593583,2.0,3.421295,Mayor
8190,TQRMNORRQHMORPCDEIJAH00802469,1,2024,Mujer,68,Casado,Secundaria Completa,Inactivo,Ns./Nr.,Ns./Nr.,...,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Partidos del GBA,0,0,1114083551,0.593583,4.0,3.421295,Mayor
8191,TQRMNORRQHMORPCDEIJAH00802469,1,2024,Varón,45,Soltero,Secundaria Completa,Ocupado,Obrero o empleado,Ns./Nr.,...,Conjunto de aglomerados de 500.000 y más habit...,Gran Buenos Aires,Partidos del GBA,1,195000,1114083551,0.593583,4.0,3.421295,Adulto

# Ejercicio 5

In [57]:
# Seleccionamos las tres variables relevantes: edad, nivel educativo e IPCF
variables_seleccionadas = ['nivel_ed', 'ch06', 'ipcf']

# Calcular estadísticas descriptivas
estadisticas_descriptivas = df_selec[variables_seleccionadas].describe(include='all')

# Mostrar las estadísticas descriptivas
print("Estadísticas descriptivas de las variables seleccionadas:")
print(estadisticas_descriptivas)

Estadísticas descriptivas de las variables seleccionadas:
                   nivel_ed         ch06          ipcf
count                  8136  8136.000000  8.136000e+03
unique                    7          NaN           NaN
top     Secundaria Completa          NaN           NaN
freq                   1814          NaN           NaN
mean                    NaN    38.090462  1.384668e+05
std                     NaN    22.859490  3.622235e+05
min                     NaN    -1.000000  0.000000e+00
25%                     NaN    19.000000  0.000000e+00
50%                     NaN    36.000000  1.500000e+03
75%                     NaN    56.000000  1.740000e+05
max                     NaN    97.000000  1.131233e+07

# Parte II

# Ejercicio 1

In [59]:
import pandas as pd 

# cargamos la base respondieron para cada año 
file_path_04 = 'C:/Users/matug/OneDrive/Documentos/UdeSA/Ciencia de datos/TP4/Bases de datos TP3/respondieron_04.csv'
file_path_24 = 'C:/Users/matug/OneDrive/Documentos/UdeSA/Ciencia de datos/TP4/Bases de datos TP3/respondieron_24.csv'

respondieron_04 = pd.read_csv(file_path_04)
respondieron_24 = pd.read_csv(file_path_24)

respondieron_04

,ano4,aglomerado,ch06,ch04,nivel_ed,estado,ipcf,cat_inac,ch08,ch07,PEA,PET,desocupado
0,2004,Ciudad de Buenos Aires,79,Varón,Secundaria Incompleta,Inactivo,368,Jubilado/pensionado,Obra social (incluye PAMI),Viudo,0,0,0
1,2004,Ciudad de Buenos Aires,67,Mujer,Primaria Completa,Ocupado,0,0.0,No paga ni le descuentan,Separado o divorciado,1,0,0
2,2004,Ciudad de Buenos Aires,74,Mujer,Primaria Completa,Inactivo,440,Jubilado/pensionado,Obra social (incluye PAMI),Viudo,0,0,0
3,2004,Ciudad de Buenos Aires,54,Varón,Primaria Completa,Ocupado,532,0.0,Mutual/Prepaga/Servicio de emergencia,Casado,1,1,0
4,2004,Ciudad de Buenos Aires,51,Mujer,Superior Universitaria Completa,Inactivo,532,Ama de casa,Mutual/Prepaga/Servicio de emergencia,Casado,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7497,2004,Partidos del GBA,1,Mujer,Sin instrucción,Menor de 10 años,533,Menor de 6 años,Mutual/Prepaga/Servicio de emergencia,Soltero,0,0,0
7498,2004,Partidos del GBA,51,Varón,Primaria Completa,Ocupado,100,0.0,Obra social (incluye PAMI),Casado,1,1,0
7499,2004,Partidos del GBA,55,Mujer,Primaria Completa,Ocupado,100,0.0,Obra social (incluye PAMI),Casado,1,1,0
7500,2004,Partidos del GBA,12,Mujer,Primaria Incompleta (incluye educación especial),Inactivo,100,Estudiante,Obra social (incluye PAMI),Soltero,0,0,0
7501,2004,Partidos del GBA,22,Varón,Secundaria Completa,Ocupado,100,0.0,Obra social (incluye PAMI),Soltero,1,1,0

In [63]:
from sklearn.model_selection import train_test_split

# Verificar si las columnas 'desocupado' están presentes en las bases de datos
if 'desocupado' not in respondieron_04.columns:
    raise ValueError("La columna 'desocupado' no se encuentra en la base de datos respondieron_04")
if 'desocupado' not in respondieron_24.columns:
    raise ValueError("La columna 'desocupado' no se encuentra en la base de datos respondieron_24")

# Definir la variable dependiente y las variables independientes para el año 2004
X_04 = respondieron_04.drop(columns=['desocupado'])
y_04 = respondieron_04['desocupado']

# Agregar la columna de unos (1) a X_04
X_04.insert(0, 'intercept', 1)

# Dividir la base de datos en conjuntos de train y test para el año 2004
X_train_04, X_test_04, y_train_04, y_test_04 = train_test_split(X_04, y_04, test_size=0.3, random_state=101)

# Definir la variable dependiente y las variables independientes para el año 2024
X_24 = respondieron_24.drop(columns=['desocupado'])
y_24 = respondieron_24['desocupado']

# Agregar la columna de unos (1) a X_24
X_24.insert(0, 'intercept', 1)

# Dividir la base de datos en conjuntos de train y test para el año 2024
X_train_24, X_test_24, y_train_24, y_test_24 = train_test_split(X_24, y_24, test_size=0.3, random_state=101)

In [62]:
print("Dimensiones de los conjuntos de train y test para 2004:")
print("X_train_04:", X_train_04.shape)
print("X_test_04:", X_test_04.shape)
print("y_train_04:", y_train_04.shape)
print("y_test_04:", y_test_04.shape)
print("Dimensiones de los conjuntos de train y test para 2024:")
print("X_train_24:", X_train_24.shape)
print("X_test_24:", X_test_24.shape)
print("y_train_24:", y_train_24.shape)
print("y_test_24:", y_test_24.shape)

Dimensiones de los conjuntos de train y test para 2004:
X_train_04: (5251, 13)
X_test_04: (2251, 13)
y_train_04: (5251,)
y_test_04: (2251,)
Dimensiones de los conjuntos de train y test para 2024:
X_train_24: (4871, 13)
X_test_24: (2088, 13)
y_train_24: (4871,)
y_test_24: (2088,)